<app-header></app-header>

<div (click)="goback()" class="container" style="margin-top: 1%;"> <button type="button" class="btn">< go back</button> </div>
<p style="text-align: center; margin-top: 1%;"> <b>Edit Profile Details</b></p>

<div class="row">
    <div style="text-align: center;" >
      <img class="userpic" src=".\assets\sample-pic.jfif"> <br><br>
      <div>
        Upload Profile Picture to Change : <input class="outlineissue" type="file" id="uploadfile" name="uploadfile"> 
      </div>
    </div>
</div><br>
    <div class="container">
    <div>
      <br>
      User's Name : <b>Elon Musk</b> <input placeholder="Enter User's Name to change" type="text" class="form-control" id="testername" ><br>
      </div>
    <div class="row mb-3">
        <div class="col-sm-1">
            Gender:
        </div>
    <div class="form-check col-sm-1" style="margin-left: 10px;">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          Male
        </label>
      </div>
      <div class="form-check col-sm-2" style="margin-left: 1px;">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          Female
        </label>
      </div>
    </div>
    <div>
      Date of Birth: <b>02/01/1999</b> <input type="date" style="margin-left: 3px;" id="birthday" name="birthday"> <br>
    </div><br><br>
    <div style="text-align: center;">
        <button type="submit" class="btn btn-primary">Save the Changes</button>
    </div>
  </div>
  <br><br>


<app-footer></app-footer>