<app-header></app-header>
<div *ngIf="user==='tester'">
<div (click)="goback()" style="margin-top: 1%; " class="container"> <button type="button" style="color: #0066cc;" class="btn">< Go Back</button> </div>

<section class="container" style="text-align: center;">
    <b>
        Your Ongoing Testing Projects ({{onGoingProjects.length}})
    </b>
</section>
<section class="container" >
    <div>
        <div class="row">
            <div class="col" style="text-align: end;">
                <button type="button" class="btn btn-outline-primary marginblks" style="color: #000; background-color: #fff;width:max-content" (click)="historybtn()">View History</button>
            </div>

        </div> 
    </div>
    <hr>
</section>
<br>
<section class="container">

    <tr *ngFor="let projects of onGoingProjects">
        <div class="blockdetails" data-aos="fade-up" data-aos-duration = "1900">
            <div>
                <div class="row">
                    <div class="col-sm-9">Task ID: <b>#T111{{projects.project_id}}</b></div> 
                    <div class="col-sm-3" style="text-align: end;"> <img src=""> <b><img class="activeon" src="..\assets\active-on.svg">Active</b></div>
                </div>
                <div>
                    Title: <b>{{projects.title}}</b>
                </div>
                <div class="row">
                    <div class="col-sm-6">Enrolled Date : <b>{{projects.enrolled_on.substring(0, 10)}}</b> </div> 
                    <div class="col-sm-6">Last Submission Date : <b>{{projects.testing_submission_before.substring(0, 10)}}</b> </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">Categories : <b>{{projects.typeof}}</b> </div> 
                    <div class="col-sm-6">Submissions: <b>{{projects.daysleft}} Days Left</b> </div>
                </div>
                
            </div> <br>
            <div style="text-align: center;" class="button-group">
                <button type="button" data-bs-toggle="modal" data-bs-target="#leavetask"  class="btn btn-outline-primary marginblks" (click)="unenrollbtn(projects.enrollment_id)" style="color: #000; background-color: #fff;">Leave Task</button>
                <button type="button" class="btn btn-outline-primary marginblks" (click)="submitresponsesbtn(projects.enrollment_id)" style="color: #000; background-color: #fff;">Submit Response</button>
                <button type="button" class="btn btn-outline-primary marginblks" (click)="taskdetailsbtn(projects.project_id)" style="color: #000; background-color: #fff;">View Task Details</button>

            </div>
        </div>
    </tr>    
    <!-- <div class="blockdetails" data-aos="fade-up" data-aos-duration = "1900">
        <div>
            <div class="row">
                <div class="col-sm-9">Task ID: <b>#T1111</b></div> 
                <div class="col-sm-3" style="text-align: end;"> <img src=""> <b><img class="activeon" src="..\assets\active-on.svg">Active</b></div>
            </div>
            <div>
                Title: <b>Android Application testing for Microsoft</b>
            </div>
            <div class="row">
                <div class="col-sm-6">Enrolled Date : <b>3 November 2021</b> </div> 
                <div class="col-sm-6">Last Submission Date : <b>30 November 2021</b> </div>
            </div>
            <div class="row">
                <div class="col-sm-6">Categories : <b>UI Testing</b> </div> 
                <div class="col-sm-6">Submissions: <b>30 Days Left</b> </div>
            </div>
            
        </div> <br>
        <div style="text-align: center;" class="button-group">
            <button type="button" data-bs-toggle="modal" data-bs-target="#leavetask" class="btn btn-outline-primary marginblks" style="color: #000; background-color: #fff;">Leave Task</button>
            <button type="button" class="btn btn-outline-primary marginblks" (click)="submitresponsesbtn(1)" style="color: #000; background-color: #fff;">Submit Response</button>
            <button type="button" class="btn btn-outline-primary marginblks" (click)="taskdetailsbtn(1)" style="color: #000; background-color: #fff;">View Task Details</button>

        </div>
    </div> -->

</section>
<section>
    <div *ngIf="onGoingProjects.length==0" style="text-align: center; font-family: sans-serif; font-size: 60px;" data-aos="zoom-out" data-aos-duration = "1900">
        <br><br>
        No Ongoing Testing here!
        <br><br>
    </div>
</section>
<!-- pop up for leave task button -->
<div class="modal fade" id="leavetask" tabindex="-1" aria-labelledby="leavetaskLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="leavetaskLabel"><b style="color:#ff0000">Are you sure?</b> </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" style="color:#000">
            <b>With this action, you would no longer be Part of Project!</b>
          </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary"  (click)="unenrollbtn(1)" data-bs-dismiss="modal">Yes, Confirm</button>
        </div>
      </div>
    </div>
  </div>

<app-footer></app-footer>
</div>
<div *ngIf="user!=='tester'">
    Sorry you are unauthorized
</div>
