.blockdetails{
    background-color: rgb(245, 245, 245);
    width:100%;
    padding: 2%;
    margin-top: 1%;
    margin-bottom: 2%;
}

.marginblks{
    margin:1%;
}

.activeon{
    width:10px;
    margin-right:1%;
}

@media screen and (max-width: 6000px){
    tr {
        display: block;
        /* vertical-align: inherit; */
        border-color: inherit;
    }
}