<app-header></app-header>

<div (click)="goback()" style="margin-top: 1%; " class="container"> <button type="button" style="color: #0066cc;" class="btn">< Go Back</button> </div>
<br><br>
<section class="container" style="text-align: start;">
    <b>
        Contact Us
    </b>
</section> <br>

<section class="container">
    <p>
        Find the best projects and testers to get started! <br>
        We are deeply committed to our users, viewers and all the people with their queries, concerns and anything we can assist in!
        <br>
        We would love to hear from you!
    </p>
</section>

<section class="container">
    <div class="blockcover">
        <div style="text-align: center;">
            <b>Contact Form</b>
        </div> <br>
        <form #contactDetails="ngForm" (ngSubmit)="contactUs(contactDetails)">
            <div>
                Name: <input type="text" class="inputsbox" style="width:50%" id="name"ngModel name="name">
            </div> <br>
            <div>
                Email ID: <input type="email" class="inputsbox" style="width:50%" id="emailid"ngModel name="emailid">
            </div> <br>
            <div>
                Phone Number: <input type="numbers" class="inputsbox" style="width:50%" id="phoneno"ngModel name="phoneno" maxlength="10">
            </div> <br>
            <div>
                Purpose/Message:
                <div class="input-group">
                    <textarea ngModel name="msg" class="form-control" style="height: 150px;"></textarea>
                </div>
            </div> <br>
            <div style="text-align: center;">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
    <br><br>
</section>

<app-footer></app-footer>