<app-header-non-log></app-header-non-log>

<section >
    <br><br><br><br>
    <div class="row" style="text-align: center;">
        <div class="col">
            <p>
                <img style="width:16%" src="..\assets\tick.svg">
            </p>
            <p style="font-family: Sans-serif; font-size: 50px;">
                Logged Out Successfully!
            </p>
            <br>
            <!-- <p style="font-family:Verdana, Geneva, Tahoma, sans-serif; font-size: 11px;">
                Redirecting...................
            </p> -->
        </div>
    </div>
    <br><br>
</section>
<section class="developeractions">
    <br><br>
    <div class="row">
        <!-- <div class="col-sm-3">
        </div>
        <div class="col-sm-4" style="text-align: start;font-size: 1.5rem;margin-left: 2%;">
            <b></b><br>
        </div> -->
        <div class="col" style="margin-top:15px;text-align: center;">
            <button (click)="redirect_Page()" class="btn btn-primary"> Return to Home</button>
        </div>
    </div>
    <br>
    <br>
</section>
<app-footer></app-footer>
