.userprofsection{
    background-color: #fff;
    padding:3%;
    margin-bottom: 3%;
    margin-top: 3%;
    width:100%;
    border: 0.5px solid rgb(206, 206, 206)
}


.userpic {
    display: inline-block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
  }