<app-header></app-header>
<div *ngIf="user==='tester'">
<div (click)="goback()" class="container" style="margin-top: 1%;"> <button type="button" class="btn">< go back</button> </div>
<p style="text-align: center; margin-top: 1%;"> <b>User Profile </b></p>

<section class="container">
    <div class="userprofsection">
        <div class="row">
          <div class="col" style="text-align: end;">
            <a href="./testers-signup-or-edit/{{testerDetails.tester_id}}" style="color:rgb(255, 0, 0)">Edit Profile</a>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-9">
            Basic Details
          </div>
          <div class="col-sm-3" style="text-align: end;">
            <a href="./change-password" style="color:#0066cc">Change Password</a>
          </div>
        </div> <br>
    
    <div class="row">
      <div class="col-sm-3" style="text-align: center;" >
        <img class="userpic" src="{{apiURL}}/images/{{testerDetails.profile_pic}}">
      </div>
      <div class="col-sm-9">
        <br>
        User's Name : <b>{{testerDetails.name}}</b> <br>
        Registered Email ID: <b>{{testerDetails.email}}</b> <br>
        Profile Created ON: <b>{{testerDetails.profile_creation_time.substring(0,10)}}</b> <br>
        Gender: <b>{{testerDetails.gender}}</b> <br>
        Date of Birth: <b>{{testerDetails.date_of_birth.substring(0,10)}}</b> <br>
        Points Received: <b>{{testerDetails.reward_points}}</b> <a href="./user-tester-history" style="font-size: 8px; color: #000;">    View History</a><br>
        No. of Downvotes: <b>{{testerDetails.block_count}}</b>
      </div>
    </div>
    </div>
</section>

<section *ngIf="ongoingDetails.length" class="container">
    <div>
        Testing Project Details
    </div>
    <div>
        Ongoing Projects : <b>{{ongoingDetails.length}}</b>
    </div>
    <br>
    <div *ngIf="ongoingDetails.length">
      <table class="table">
          <thead>
            <tr>
              <th scope="col">Title</th>
              <th scope="col">Submission Date</th>
              <th scope="col">Status</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let project of ongoingDetails;">
              <th scope="row">{{project.title}}</th>
              <td>{{project.testing_submission_before.substring(0,10)}}</td>
              <td>Inprogress</td>
              <td><a href="./project-task-details/{{project.project_id}}" style="color: #000;">View</a></td>
            </tr>
            
          </tbody>
      </table>
    </div>
</section>

<hr class="container">

<section class="container" *ngIf="submitedDetails.length">
    <div class="row">
      <div class="col-sm-8"> 
        Completed Projects : <b>{{submitedDetails.length}}</b>
      </div> 
      <div class="col-sm-4" style="text-align: end;">
       <a href="./user-tester-history">View All</a> 
      </div>
      
    </div>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Company</th>
            <th scope="col">Submitted On</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let project of submitedDetails;">
            <th scope="row">{{project.name}}</th>
            <td>{{project.submitted_on.substring(0,10)}}</td>
            <td>{{project.status}}</td>
          </tr>
        </tbody>
      </table>
</section>

<div class="container" *ngIf="rewardedDetails.data.length">
  <div class="row">
    <div class="col-sm-8"> 
      Points Received : <b>{{rewardedDetails.totalRewards.reward_points}}</b> (Total: {{rewardedDetails.data.length}} Projects Reward)
    </div> 
    <div class="col-sm-4" style="text-align: end;">
      <a href="./user-tester-history">View All</a> 
    </div>
    <table class="table" *ngIf="rewardedDetails.data.length">
        <thead>
          <tr>
            <th scope="col">Company</th>
            <th scope="col">Granted On</th>
            <th scope="col">Points</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let project of rewardedDetails.data;">
            <th scope="row">{{project.name}}</th>
            <td>{{project.rewarded_on.substring(0,10)}}</td>
            <td>>{{project.points_recieved}}</td>
          </tr>
        </tbody>
      </table>
    </div>
</div>
<app-footer></app-footer>
</div>
<div *ngIf="user!=='tester'">
    Sorry you are unauthorized
  </div>
