<nav class="navbar navbar-expand-lg navbar-light bg-light container-float ">
    <div class="container-fluid " style="margin-left: 1%; margin-right: 1%;">
        <a href="#" class="navbar-brand d-none d-lg-block">
            <img src="..\assets\logo-alphas.png" height="28" alt="Alphas_logo"> Alphas
        </a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="./task-creating-form" class="nav-item nav-link active">Add New</a>
                <a href="./tasks-lists" class="nav-item nav-link">Your Testing Projects</a>
            </div>
            
        </div>
        <a href="#" class="navbar-brand d-lg-none">
            <img src="..\assets\logo-alphas.png" height="28" alt="Alphas_logo"> Alphas
        </a>
        <div class="btn-group">
            <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              Account Settings
            </button>
            <ul class="dropdown-menu" style="text-align: center;">
                <li class="dropdown-item" style="background-color: #0066cc; color: #fff;">Company's Profile</li>
                <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="./profile-page">View/Edit Profile</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="./tasks-created">Profile Tasks</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" style="color: rgb(255, 0, 0);" (click)="logout()">Log Out</a></li>
            </ul>
          </div>
    </div>
</nav>
