<app-header></app-header>

<div *ngIf="user==='developer'">
<div (click)="goback()" style="margin-top: 1%; " class="container"> <button type="button" style="color: #0066cc;" class="btn">< Go Back</button> </div>

<section class="container" style="text-align: center;">
    <b>
       Active Task Responses ({{projectResponses.length}})
    </b> <br>
    <b *ngIf="projectResponses.length">
        (TITLE:{{projectResponses[0].title}})
    </b>
</section> 
<br>
<section class="container" >
    <div class="row">
        <div class="col-sm-4"> </div> 
        <div class="col-sm-4"> </div>
        <div class="col-sm-4" style="text-align: end;">
            <button type="button" (click)="grantedlists()" class="btn btn-outline-primary marginblks" style="color: #000; background-color: #fff;width:max-content">View Granted Responses</button>
        </div>
    </div> 
<hr>
</section>
<section *ngIf="projectResponses.length" class="container">
    <tr *ngFor="let responses of projectResponses">
        <div class="blockdetails" data-aos="fade-up" data-aos-duration = "1900">
            <div>
                <div style="display: inline-flex;">
                    Tester Name: <b>{{responses.name}}</b> 
                </div> <br>
                <div class="row">
                    <div class="col-sm-6">Enrollment Date : <b>{{responses.enrolled_on.substring(0, 10)}}</b> </div> 
                    <div class="col-sm-6">Submitted On : <b>{{responses.submitted_on.substring(0, 10)}}</b> </div>
                </div>
                <div>
                    Issues Reported: <b>{{responses.totalissuereported}}</b>            
                </div>
                
            </div>
            <div style="text-align: center;">
                <button type="button" (click)="viewtask(responses.enrollment_id)" class="btn btn-outline-primary" style="color: #000; background-color: #fff;">View Response</button>
            </div>
        </div>
    </tr>
    

    <!-- <div class="blockdetails" data-aos="fade-up" data-aos-duration = "1900">
        <div>
            <div style="display: inline-flex;">
                Tester Name: <b>Elon Musk</b> 
            </div> <br>
            <div class="row">
                <div class="col-sm-6">Enrollment Date : <b>30 November 2021</b> </div> 
                <div class="col-sm-6">Enrollment Date : <b>30 November 2021</b> </div>
            </div>
            <div>
                Issues Reported: <b>30</b>            
            </div>
            
        </div>
        <div style="text-align: center;">
            <button type="button" (click)="viewtask(1)"  class="btn btn-outline-primary" style="color: #000; background-color: #fff;">View Response</button>
        </div>
    </div> -->
    
</section>

    <div *ngIf="projectResponses.length==0" style="text-align: center; font-family: sans-serif; font-size: 60px;" data-aos="zoom-out" data-aos-duration = "1900">
        <br><br>
        No Responses here!
        <br><br>
    </div>

<app-footer></app-footer>
</div>
<div *ngIf="user!=='developer'">
    Sorry you are unauthorized
</div>