*{
    overflow-x:hidden;
    }
    
.developeractions{
    background-color: rgb(240, 240, 240);
}
.error{
    color:red;
}
@media screen and (max-width: 750px){
    .mobileview{
        display: none;
    }
}