<app-header></app-header>

<section>
    <div class="row" style="--bs-gutter-x: 0rem !important;">
        <div class="col-sm-6 mobileview" style="overflow-x: visible !important;" >
            <br>
            <img src="..\assets\company_login.svg">
        </div>
        <div class="col-sm-6" style="--bs-gutter-x: 0rem !important;" data-aos="zoom-in">
            <br>
            <div style="text-align: end;margin-right: 5px;color:#0066cc">
                <a href="./login-signup">
                    Tester's Login
                </a>
            </div> <br><br>
            <div style="text-align: center; color:#0066cc">
                <b>Login</b> <br>
                Developer's/Company's Login
            </div>
            <form #developerLogin="ngForm" (ngSubmit)="userlogged(developerLogin)" style="--bs-gutter-x: 0rem !important;">
                <div class="mb-3" style="margin:1%">
                  <label for="developer-email" class="form-label">Email address</label>
                  <input type="email"required #email="ngModel" class="form-control" ngModel name="email" id="developer-email" >
                  <span class="error" *ngIf="email.touched && email.invalid ">*Email address is requires</span>
                  <span class="error" *ngIf="submitted && email.errors?['required']:''">Please enter Email address</span>
                </div>
                <div class="mb-3" style="margin:1%">
                  <label for="developer-login-password" class="form-label">Password</label>
                  <input type="password" required #password="ngModel" class="form-control" ngModel name="password" id="developer-login-password">
                  <span class="error" *ngIf="password.touched && password.invalid ">*Password  is requires</span>
                  <span class="error" *ngIf="submitted && password.errors?['required']:''">Please enter Password</span>
                </div>
                <div style="text-align: center;">
                    <button type="submit" data-bs-toggle="modal" data-bs-target="#developerinvalid" class="btn btn-primary">Login</button>
                </div>
              </form><br>
              <div style="text-align: center; ">
                  New to Alphas? <a href="./developer-signup-or-edit/0" style=" color:#0066cc">Sign Up with us!</a>
              </div>
              <div style="text-align: center; ">
                Can't Remember password? <a href="./change-password" style=" color:#0066cc">Forgot Password</a>
            </div>
        </div>
    </div>
    <br>
    <br>
</section>
<section class="developeractions">
    <br><br>
    <div class="row">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-4" style="text-align: start;font-size: 1.5rem;margin-left: 2%;">
            <b>New</b><br>
            Tester At Alphas? Join the world of Testing!
        </div>
        <div class="col-sm-1" style="margin-top:15px;text-align: center;">
            <button class="btn btn-outline-primary"> Sign Up</button>
        </div>
    </div>
    <br>
    <br>
</section>

<!-- pop up for invalid Credentials -->
<!-- <div class="modal fade" id="developerinvalid" tabindex="-1" aria-labelledby="developerinvalidLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="developerinvalidLabel"><b style="color:#ff0000">Invalid Credentials</b> </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          The entered data doesnot exist in Database. Please check Again!
        </div>
      </div>
    </div>
  </div> -->


<app-footer></app-footer>