.blockdate{
    border:0.5px solid rgb(199, 199, 199);
    width:max-content;
    height:max-content;
    margin-right:2%;
    padding:1%;
    text-align: center;
}

.spacingblock{
    width: min-content; 
    margin-right: 3%;  
    margin-bottom: 2%; 
}

.imgfix{
    object-fit: cover; 
    width:300px;
    height:150px;
    text-align: center;
}

.cimpfix{
    object-fit: contain !important; 
    width:300px !important;
    height:150px !important;
}


@media screen and (max-width: 600px){
    .marginspacings{
        margin-left: 5%;
    }
    .row>* {
        flex-shrink: 0;
        width: 100%;
        max-width: 100%;
        padding-right: calc(var(--bs-gutter-x) * .5);
        padding-left: calc(var(--bs-gutter-x) * .5);
        margin-top: var(--bs-gutter-y);
    }
}

@media screen and (max-width: 6000px){
    .row>* {
        flex-shrink: 0;
        width: auto;
        max-width: 100%;
        padding-right: calc(var(--bs-gutter-x) * .5);
        padding-left: calc(var(--bs-gutter-x) * .5);
        margin-top: var(--bs-gutter-y);
    }
}