<app-header></app-header>
<br>
<section class="container">
  <div (click)="goback()"> <button type="button" class="btn" style="color: #0066cc;">< Go back</button> </div>
<p> <br>
  <b>On-going Testing Projects</b> <br>
  Find the best project tasks to get you started! Select tasks feasible for you and get testing started to earn rewards!
</p>
</section>
<section class="container">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <button class="nav-link" [ngClass]="{ 'active':activeTab==='Android'}" (click)="tabswitch('Android')"
      data-toggle="tab">Android</button>
    </li>
    <li class="nav-item">
        <button class="nav-link" [ngClass]="{ 'active':activeTab==='iOS'}" data-toggle="tab"
           (click)="tabswitch('iOS')">iOS</button>
      </li>
      <li class="nav-item">
        <button class="nav-link" [ngClass]="{ 'active':activeTab==='website'}" data-toggle="tab"
           (click)="tabswitch('website')">Website</button>
      </li>
      <li class="nav-item">
        <button class="nav-link" [ngClass]="{ 'active':activeTab==='uitesting'}" data-toggle="tab"
           (click)="tabswitch('uitesting')">UI Testing</button>
      </li>
      <li class="nav-item">
        <button class="nav-link" [ngClass]="{ 'active':activeTab==='functionaltesting'}" data-toggle="tab"
           (click)="tabswitch('functionaltesting')">Functionality Testing</button>
      </li>
  </ul>
</section>
<section class="container marginspacings" data-aos="fade-up" data-aos-duration = "1900">
  <div class="tab-content ">
    <div class="tab-pane" id="Android" [ngClass]="{ 'active':activeTab==='Android'}">
      <section class="row" style=" margin-top: 3%; margin-bottom: 1%; ">

        <tr *ngFor="let android of androidProjects" class="cards-row" >
          <div class="card border-primary col-mid-3 spacingblock" style="padding-left: 0% !important; padding-right: 0% !important; height:430px">
            <div>
              <div style="text-align: center;">
                <img  style="object-fit: contain !important; width:300px !important; height:150px !important;" src="{{apiURL}}/images/{{android.pic_url}}" class="card-img-top" alt="..\assets\company-img.jpg">
              </div>
            </div>
            <div class="card-body">
              <h5 class="card-title">{{android.title}}</h5>
            </div>
            <div style="display: inline-flex;">
            <div>
              <ul class="list-group list-group-flush border-0">
                <li class="list-group-item border-0">Platform : {{android.platform}}</li>
                <li class="list-group-item border-0">Type : {{android.typeof}}</li>
                <li class="list-group-item">Task Points: {{android.point_rewards}}</li>
              </ul>
            </div>
            <div class="blockdate">
              Enrollment Ends on:
              <hr>
              <b>{{android.enrollment_ends_on.substring(0, 10)}}</b>
            </div>
          </div>
            <div class="row">
              <!-- <div class="col" style="padding-right: 0% !important;"><button type="button" data-bs-toggle="modal" data-bs-target="#enroll-in-pjt-droid" class="btn btn-primary list-group-flush " style="text-align: center; width:100%;">Enroll in Project</button></div> -->
              
              <div class="col"><button type="button" (click)="detailtask(android.project_id)" class="btn list-group-flush " style="text-align: center; width:100%; background-color: #0497EA; color: #fff;">View Task Details</button></div>
            </div>
          </div>
        </tr>  
<!--       
      <div class="card border-primary col-mid-3 spacingblock" style="padding-left: 0% !important; padding-right: 0% !important;">
        <div  style="text-align: center;">
          <img style="object-fit: cover; width:300px;height:150px" src="..\assets\company-img.jpg" class="card-img-top" alt="..\assets\company-img.jpg">
        </div>
        <div class="card-body">
          <h5 class="card-title">Microsoft</h5>
        </div>
        <div style="display: inline-flex;">
        <div>
          <ul class="list-group list-group-flush border-0">
            <li class="list-group-item border-0">Platform : Android, iOS</li>
            <li class="list-group-item border-0">Type : UI Testing</li>
            <li class="list-group-item">Task Points: 100</li>
          </ul>
        </div>
        <div class="blockdate">
          Enrollment Ends on:
          <hr>
          <b>23 Nov 2022</b>
        </div>
      </div>
        <div class="row">
          <div class="col" style="padding-right: 0% !important;"><button type="button" class="btn btn-primary list-group-flush " style="text-align: center; width:100%;">Enroll in Project</button></div>
          <div class="col" style="padding-left: 0% !important;"><button type="button" class="btn list-group-flush " style="text-align: center; width:100%; background-color: #0497EA; color: #fff;">View Task Details</button></div>
        </div>
      </div>

      <div class="card border-primary col-mid-3 spacingblock" style="padding-left: 0% !important; padding-right: 0% !important;">
        <div  style="text-align: center;">
          <img style="object-fit: cover; width:300px;height:150px" src="..\assets\company-img.jpg" class="card-img-top" alt="..\assets\company-img.jpg">
        </div>
        <div class="card-body">
          <h5 class="card-title">Microsoft</h5>
        </div>
        <div style="display: inline-flex;">
        <div>
          <ul class="list-group list-group-flush border-0">
            <li class="list-group-item border-0">Platform : Android, iOS</li>
            <li class="list-group-item border-0">Type : UI Testing</li>
            <li class="list-group-item">Task Points: 100</li>
          </ul>
        </div>
        <div class="blockdate">
          Enrollment Ends on:
          <hr>
          <b>23 Nov 2022</b>
        </div>
      </div>
        <div class="row">
          <div class="col" style="padding-right: 0% !important;"><button type="button" class="btn btn-primary list-group-flush " style="text-align: center; width:100%;">Enroll in Project</button></div>
          <div class="col" style="padding-left: 0% !important;"><button type="button" class="btn list-group-flush " style="text-align: center; width:100%; background-color: #0497EA; color: #fff;">View Task Details</button></div>
        </div>
      </div>

      <div class="card border-primary col-mid-3 spacingblock" style="padding-left: 0% !important; padding-right: 0% !important;">
        <div  style="text-align: center;">
          <img style="object-fit: cover; width:300px;height:150px" src="..\assets\company-img.jpg" class="card-img-top" alt="..\assets\company-img.jpg">
        </div>
        <div class="card-body">
          <h5 class="card-title">Microsoft</h5>
        </div>
        <div style="display: inline-flex;">
        <div>
          <ul class="list-group list-group-flush border-0">
            <li class="list-group-item border-0">Platform : Android, iOS</li>
            <li class="list-group-item border-0">Type : UI Testing</li>
            <li class="list-group-item">Task Points: 100</li>
          </ul>
        </div>
        <div class="blockdate">
          Enrollment Ends on:
          <hr>
          <b>23 Nov 2022</b>
        </div>
      </div>
        <div class="row">
          <div class="col" style="padding-right: 0% !important;"><button type="button" class="btn btn-primary list-group-flush " style="text-align: center; width:100%;">Enroll in Project</button></div>
          <div class="col" style="padding-left: 0% !important;"><button type="button" class="btn list-group-flush " style="text-align: center; width:100%; background-color: #0497EA; color: #fff;">View Task Details</button></div>
        </div>
      </div> -->




    </section>
    </div>
    <div class="tab-pane" id="iOS" [ngClass]="{ 'active':activeTab==='iOS'}">
        <section class="row" style=" margin-top: 3%; margin-bottom: 1%; ">

          <tr *ngFor="let ios of iosProjects" class="cards-row">
            <div class="card border-primary col-mid-3 spacingblock" style="padding-left: 0% !important; padding-right: 0% !important; height:430px">
              <div style="text-align: center;">
                <img style="object-fit: contain !important; width:300px !important; height:150px !important;" src="{{apiURL}}/images/{{ios.pic_url}}" class="card-img-top" alt="..\assets\company-img.jpg">
              </div>
              <div class="card-body">
                <h5 class="card-title">{{ios.title}}</h5>
              </div>
              <div style="display: inline-flex;">
              <div>
                <ul class="list-group list-group-flush border-0">
                  <li class="list-group-item border-0">Platform : {{ios.platform}}</li>
                  <li class="list-group-item border-0">Type : {{ios.typeof}}</li>
                  <li class="list-group-item">Task Points: {{ios.point_rewards}}</li>
                </ul>
              </div>
              <div class="blockdate">
                Enrollment Ends on:
                <hr>
                <b>{{ios.enrollment_ends_on.substring(0, 10)}}</b>
              </div>
            </div>
              <div class="row">
                <!-- <div class="col" style="padding-right: 0% !important;"><button type="button" data-bs-toggle="modal" data-bs-target="#enroll-in-pjt-ios" class="btn btn-primary list-group-flush " style="text-align: center; width:100%;">Enroll in Project</button></div> -->
                
                <div class="col"><button type="button" (click)="detailtask(ios.project_id)" class="btn list-group-flush " style="text-align: center; width:100%; background-color: #0497EA; color: #fff;">View Task Details</button></div>
              </div>
            </div>
          </tr>  
        </section>
    </div>
    <div class="tab-pane" id="website" [ngClass]="{ 'active':activeTab==='website'}">
      <section class="row" style=" margin-top: 3%; margin-bottom: 1%; ">

        <tr *ngFor="let website of websiteProjects" class="cards-row">
          <div class="card border-primary col-mid-3 spacingblock" style="padding-left: 0% !important; padding-right: 0% !important; height:430px">
            <div  style="text-align: center;">
              <img style="object-fit: contain !important; width:300px !important; height:150px !important;" src="{{apiURL}}/images/{{website.pic_url}}" class="card-img-top" alt="..\assets\company-img.jpg">
            </div>
            <div class="card-body">
              <h5 class="card-title">{{website.title}}</h5>
            </div>
            <div style="display: inline-flex;">
            <div>
              <ul class="list-group list-group-flush border-0">
                <li class="list-group-item border-0">Platform : {{website.platform}}</li>
                <li class="list-group-item border-0">Type : {{website.typeof}}</li>
                <li class="list-group-item">Task Points: {{website.point_rewards}}</li>
              </ul>
            </div>
            <div class="blockdate">
              Enrollment Ends on:
              <hr>
              <b>{{website.enrollment_ends_on.substring(0, 10)}}</b>
            </div>
          </div>
            <div class="row">
              <!-- <div class="col" style="padding-right: 0% !important;"><button type="button" data-bs-toggle="modal" data-bs-target="#enroll-in-pjt-web" class="btn btn-primary list-group-flush " style="text-align: center; width:100%;">Enroll in Project</button></div> -->
              
              <div class="col"><button type="button" (click)="detailtask(website.project_id)" class="btn list-group-flush " style="text-align: center; width:100%; background-color: #0497EA; color: #fff;">View Task Details</button></div>
            </div>
          </div>
        </tr>  
      </section>
    </div>
    <div class="tab-pane" id="uitesting" [ngClass]="{ 'active':activeTab==='uitesting'}">
      <section class="row" style=" margin-top: 3%; margin-bottom: 1%; ">

        <tr *ngFor="let ui of uiProjects" class="cards-row">
          <div class="card border-primary col-mid-3 spacingblock" style="padding-left: 0% !important; padding-right: 0% !important; height:430px">
            <div style="text-align: center;">
              <img style="object-fit: contain !important; width:300px !important; height:150px !important;" src="{{apiURL}}/images/{{ui.pic_url}}" class="card-img-top" alt="..\assets\company-img.jpg">
            </div>
            <div class="card-body">
              <h5 class="card-title">{{ui.title}}</h5>
            </div>
            <div style="display: inline-flex;">
            <div>
              <ul class="list-group list-group-flush border-0">
                <li class="list-group-item border-0">Platform : {{ui.platform}}</li>
                <li class="list-group-item border-0">Type : {{ui.typeof}}</li>
                <li class="list-group-item">Task Points: {{ui.point_rewards}}</li>
              </ul>
            </div>
            <div class="blockdate">
              Enrollment Ends on:
              <hr>
              <b>{{ui.enrollment_ends_on.substring(0, 10)}}</b>
            </div>
          </div>
            <div class="row">
              <!-- <div class="col" style="padding-right: 0% !important;"><button type="button" data-bs-toggle="modal" data-bs-target="#enroll-in-pjt-ui" class="btn btn-primary list-group-flush " style="text-align: center; width:100%;">Enroll in Project</button></div> -->
              
              <div class="col"><button type="button" (click)="detailtask(ui.project_id)" class="btn list-group-flush " style="text-align: center; width:100%; background-color: #0497EA; color: #fff;">View Task Details</button></div>
            </div>
          </div>
        </tr>  
      </section>
    </div>
    <div class="tab-pane" id="functionaltesting" [ngClass]="{ 'active':activeTab==='functionaltesting'}">
      <section class="row" style=" margin-top: 3%; margin-bottom: 1%; ">

        <tr *ngFor="let functionality of functionalityProjects" class="cards-row">
          <div class="card border-primary col-mid-3 spacingblock" style="padding-left: 0% !important; padding-right: 0% !important; height:430px">
            <div  style="text-align: center; ">
              <img style="object-fit: contain !important; width:300px !important; height:150px !important;" src="{{apiURL}}/images/{{functionality.pic_url}}" class="card-img-top" alt="..\assets\company-img.jpg">
            </div>
            <div class="card-body">
              <h5 class="card-title">{{functionality.title}}</h5>
            </div>
            <div style="display: inline-flex;">
            <div>
              <ul class="list-group list-group-flush border-0">
                <li class="list-group-item border-0">Platform : {{functionality.platform}}</li>
                <li class="list-group-item border-0">Type : {{functionality.typeof}}</li>
                <li class="list-group-item">Task Points: {{functionality.point_rewards}}</li>
              </ul>
            </div>
            <div class="blockdate">
              Enrollment Ends on:
              <hr>
              <b>{{functionality.enrollment_ends_on.substring(0, 10)}}</b>
            </div>
          </div>
            <div class="row">
              <!-- <div class="col" style="padding-right: 0% !important;"><button type="button" data-bs-toggle="modal" data-bs-target="#enroll-in-pjt-func" class="btn btn-primary list-group-flush " style="text-align: center; width:100%;">Enroll in Project</button></div> -->
              
              <div class="col"><button type="button" (click)="detailtask(functionality.project_id)" class="btn list-group-flush " style="text-align: center; width:100%; background-color: #0497EA; color: #fff;">View Task Details</button></div>
            </div>
          </div>
        </tr>  
      </section>  
    </div>
  </div>

</section>


<!-- pop up for enroll in project button
<div class="modal fade" id="enroll-in-pjt" tabindex="-1" aria-labelledby="enroll-in-pjtLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="enroll-in-pjtLabel"><b style="color:#ff0000">Are you sure?</b> </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
        With this action, you will be ENROLLED in the project.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Yes, Confirm</button>
      </div>
    </div>
  </div>
</div> -->

  <app-footer></app-footer>