<app-header></app-header>
<br>
<div style="padding-top: 3%;">
</div>

<div class="container" data-aos="fade-up" data-aos-duration = "1900">
    <div class="row">
      <div class="col-sm-12 col-lg-6 ">
        <p style="font-size: 20px; padding-top: 12%;">A platform for everyone! <br>
        iOS? Android? Web? Functional? UI-based? Find a range of projects to choose from and </p> <b style="color:#0066cc ; font-size: 29px;">Join the world of testing</b>
      <br>
      <div style="padding-top: 10%;">
        <button type="button" style="margin-right: 3%;" class="btn btn-primary"  (click)="navigatetosignin()">Join Alphas</button>
        <button type="button" class="btn btn-outline-primary" (click)="navigatetoexplore()">Explore Projects</button>
      </div>
        
      </div>
      
      <div class="col-sm-12 col-lg-6 justify-content-sm-center">
        <img src="..\assets\home-right-col-img.svg" class="rounded float-end" style="width:80%" alt="...">
      </div>
    </div>
  </div>

  

  <div style="padding-bottom: 4%;">
  </div>
  <hr>
  <section>
    <div style="padding-top: 2%; padding-bottom: 5%;">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-lg-6 " data-aos="fade-right">
            <b style="color:#0066cc ; font-size: 34px;">What is crowdsourcing?</b>
          <br><br>
          <div>
            Crowdsourcing is a sourcing model in which individuals or organizations obtain goods or services including ideas, voting, micro-tasks, and finances from a large, relatively open, and often rapidly evolving group of participants.
            <br>
Crowdsourcing is a sourcing model in which individuals or organizations obtain goods or services including ideas, voting, micro-tasks, and finances from a large, relatively open, and often rapidly 
evolving group of participants.
          </div>
            
          </div>
          
          <div class="col-sm-12 col-lg-6 justify-content-sm-center" style="padding-top: 2%;" data-aos="fade-left">
            <div class="video-youtube">
              <iframe width="916" height="515" src="https://www.youtube.com/embed/Xct0seKq7yY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section >
    <div class="container">
      <div class="col-sm-12 col-lg-6 " data-aos="fade-right" data-aos-duration = "1900">
        <b style="color:#0066cc ; font-size: 28px;">Find your category</b>
        <div>Find your suitable testing project to work based on your devices and compatibility</div>
        <br><br>
      </div>
     
      <div class="scrolling"  style="margin-left: 3%;" data-aos="fade-up" data-aos-duration = "2000">
        <div class="card " (click)="categorylist()" style="width: 18rem; ">
          <div  style="text-align: center;">
            <img style="object-fit: contain; width:250px;height:150px" src="..\assets\ios.png" class="card-img-top" alt="company logo">
          </div>
          <div class="card-body">
            <p class="card-text" style="text-align: center;">iOS</p>
          </div>
        </div>

        <div class="card " (click)="categorylist()" style="width: 18rem;">
          <div  style="text-align: center;">
            <img style="object-fit: contain; width:250px;height:150px" src="..\assets\android.png" class="card-img-top" alt="company logo">
          </div>
          <div class="card-body">
            <p class="card-text" style="text-align: center;">Andorid</p>
          </div>
        </div>

        <div class="card " (click)="categorylist()" style="width: 18rem;">
          <div  style="text-align: center;">
            <img style="object-fit: contain; width:250px;height:150px" src="..\assets\website.jpg" class="card-img-top" alt="company logo">
          </div>
          <div class="card-body">
            <p class="card-text" style="text-align: center;">Website</p>
          </div>
        </div>

        <div class="card " (click)="categorylist()" style="width: 18rem;">
          <div  style="text-align: center;">
            <img style="object-fit: contain; width:250px;height:150px" src="..\assets\uit.png" class="card-img-top" alt="company logo">
          </div>
          <div class="card-body">
            <p class="card-text" style="text-align: center;">UI Testing</p>
          </div>
        </div>

        <div class="card " (click)="categorylist()" style="width: 18rem;">
          <div  style="text-align: center;">
            <img style="object-fit: contain; width:250px;height:150px" src="..\assets\funt.jpg" class="card-img-top" alt="company logo">
          </div>
          <div class="card-body">
            <p class="card-text" style="text-align: center;">Functionality Testing</p>
          </div>
        </div>
        
      </div>
      
      <br><br>
    </div>

  </section>

  <section>
    <div class="backimgsection">
      <div class="card bg-dark text-white">
        <div class="card-img-overlay"><br>
          <div style="text-align: center !important;">
          <b class="card-title" style=" font-size: 28px;">Our Testing Offerings to Developers</b> <br><br>
        </div>
          <div style="padding-left:10%">
          <p class="card-text" data-aos="fade-up" data-aos-duration = "1900"><b style="font-size: 30px">1.</b> Connect with your potential market product consumers</p>
          <p class="card-text" data-aos="fade-up" data-aos-duration = "1900"><b style="font-size: 30px">2.</b> Analysis Interface for Bugs in your products</p>
          <p class="card-text" data-aos="fade-up" data-aos-duration = "1900"><b style="font-size: 30px">3.</b> Potential place to market your product and understand customer behaviour</p>
          <p class="card-text" data-aos="fade-up" data-aos-duration = "1900"><b style="font-size: 30px">4.</b> Test unlimited products for unlimited iterations</p>
          <p class="card-text" data-aos="fade-up" data-aos-duration = "1900"><b style="font-size: 30px">5.</b> Make your testing happen as you want</p>
        </div>
          <div style="text-align: end; padding-right: 10%;">
            <button type="button" (click)="developerlogin()" class="btn btn-light" data-aos="fade-down" data-aos-duration = "2900">Login/Sign-up Now</button>
          </div>
        </div>
        
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="col-sm-12 col-lg-6 " style="margin-top: 3%;">
        <b style="color:#000000 ; font-size: 28px;">Recent UI Testing Projects</b>
        <div>Find your suitable testing project to work based on your devices and compatibility</div>
        <br><br><br>
      </div>



      
      <div data-aos="fade-right" data-aos-duration = "1900" class="scrolling">
        <tr *ngFor="let projects of homeProjects">

          <div class="card border-primary" style="width: 18rem; height: 400px;">
            <div  style="text-align: center;">
              <img style="object-fit: contain; width:250px;height:150px" src="{{apiURL}}/images/{{projects.pic_url}}" class="card-img-top" alt="..\assets\company-img.jpg">
            </div>
            <div class="card-body">
              <h5 class="card-title">{{projects.title}}</h5>
            </div>
            <ul class="list-group list-group-flush border-0">
              <li class="list-group-item border-0">Platform : {{projects.platform}}</li>
              <li class="list-group-item border-0">Type : {{projects.typeof}}</li>
              <li class="list-group-item">Task Points: {{projects.point_rewards}}</li>
            </ul>
            <div><button type="button" class="btn btn-primary list-group-flush " (click)="projectdetails(projects.project_id)" style="text-align: center; width:100%;">Enroll in Project</button></div>
            
          </div>
        </tr>
        <!-- Comment later -->
        <!-- <div class="card border-primary" style="width: 18rem;">
          <div  style="text-align: center;">
            <img style="object-fit: contain; width:250px;height:150px" src="..\assets\company-img.jpg" class="card-img-top" alt="company logo">
          </div>
          <div class="card-body">
            <h5 class="card-title">Microsoft</h5>
          </div>
          <ul class="list-group list-group-flush border-0">
            <li class="list-group-item border-0">Platform : Android, iOS</li>
            <li class="list-group-item border-0">Type : UI Testing</li>
            <li class="list-group-item">Task Points: 100</li>
          </ul>
          <div><button type="button" class="btn btn-primary list-group-flush " (click)="projectdetails(1)" style="text-align: center; width:100%;">Enroll in Project</button></div>
          
        </div> -->
        
      <!-- Comment later ends here -->


      </div>
      <!-- <div class="card border-primary" style="width: 18rem;">
        <div  style="text-align: center;">
          <img style="object-fit: contain; width:250px;height:150px" src="..\assets\company-img.jpg" class="card-img-top" alt="company logo">
        </div>
        <div class="card-body">
          <h5 class="card-title">Microsoft</h5>
        </div>
        <ul class="list-group list-group-flush border-0">
          <li class="list-group-item border-0">Platform : Android, iOS</li>
          <li class="list-group-item border-0">Type : UI Testing</li>
          <li class="list-group-item">Task Points: 100</li>
        </ul>
        <div><button type="button" class="btn btn-primary list-group-flush " (click)="projectdetails(projects.project_id)" style="text-align: center; width:100%;">Enroll in Project</button></div>
        
      </div> -->
      
      <br><br>
    </div>
    <div style="text-align: center; width:100%; " ><a href="./explore" class="text-decoration-none">show more</a></div>
  </section>
  <br><br>

  <section>
    <div class="bgsection">
      <div class="container">
        <div class="row" style="padding-top: 2%; padding-bottom: 4%;">
          <div class="col-sm-8" style="display:inline-block; text-align: start;"><br><b style="color:#000000 ; font-size: 46px;" >Why <br> Us?</b> <br><br> 
            <p style="color:#000000 ; font-size: 17px;">
            With over million projects and applications brainstromed and built everyday, it is always a challenge to reach audiences, understand their learning with the product and utilise the data and reports to enhance products. <br><br>
            These activities are very easily available over a combination of multiple platform at seperate zones, which is often tedious and time-inefficient.<br><br> Test <b>unlimited platforms</b> and connect all over the world!
            We deal with this in Alphas by helping you to connect with millions of platforms everyday, learn and enhance yourself with getting <b>acknowledged & rewarded </b>for your speech and opinions! <br>
          </p>
        </div>
        <div class="col-sm-4"style="display:inline-block">
          <img     style="width: -webkit-fill-available;" src="../assets/whyus.svg">
      </div>
        </div>
      </div>
    </div>
  </section>
<br>
<section>
  <div style="padding-top: 2%; padding-bottom: 5%;">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-lg-6 justify-content-sm-center" style="padding-top: 2%;" data-aos="fade-left" data-aos-duration = "2400">
          <div class="video-youtube">
            <iframe width="916" height="515" src="https://www.youtube.com/embed/4ATMFFHb4NU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>          </div>
        </div>
        <br><br>
        <div class="col-sm-12 col-lg-6 " style="margin-top: 2%;" data-aos="fade-right" data-aos-duration = "2400">
          <b style="color:#0066cc ; font-size: 34px; ">What is Google's Word?</b>
        <br><br>
        <div>
          
          Recently, our industry has focused its attention on development and operations, leaving QA with antiquated tooling and cumbersome manual processes. 
          <br> As a result, QA is often the beleaguered bottleneck of modern software teams. Thankfully, a new pattern has emerged that combines cutting-edge test frameworks, on-demand infrastructure, and artificial intelligence to dramatically improve QA effectiveness.
          
          <div style="margin-top: 10%;">
            <button type="button" style="margin-right: 3%;" class="btn btn-outline-primary"  (click)="navigatetosignin()">Join Alphas</button>
          </div>
        
        </div>
          
        </div>
        
        
      </div>
    </div>
  </div>
</section>
<br>
  <section>
    <div class="bgsection">
      <div class="container">
        <div  style="padding-top: 2%; padding-bottom: 4%;">
          <b style="color:#000000 ; font-size: 35px;" >About Us</b> <br>
          <p>
            <br>
            Alphas is a collaborative platform for all <b>developers, testers, enthusiasts and talents to get together </b> on the platform, push products live, apply for testings, enroll in projects, review products, see products built around the world and share opinions of developing projects in the world. <br><br>
            The platform is designed for all products and users who enjoy ideas, products and want to be a part of <b>something incredible.</b> <br>
            Platform is full of <b>ideas, rewards and acknowldeging opinions</b> by being a part of a global market of individuals.
          </p>
        </div>
      </div>
    </div>
  </section>

<app-footer></app-footer>


