section
{
    overflow-x: hidden; 
}


.bottom-d{
    position: absolute;
    bottom: 0;
    right: 0;
}

.video-youtube {
    overflow: hidden;
    position: relative;
    width:100%;
}

.video-youtube::after {
    padding-top: 56.25%;
    display: block;
    content: '';
}

.video-youtube iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.card-wrappers{
    display:flex;
    overflow-x: auto;
    max-height:120px;
}


.bgsection{
    background-color: rgb(245, 245, 245);
    width:100%;
}

.scrolling { 
    overflow-x: scroll;
	overflow-y: hidden;
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 0 50px;
    padding: 10px 15px;
    padding-right: 0;  
} 

.scrolling::-webkit-scrollbar {
    display: none;
  }

.backimgsection{
  background-image: url('/assets/img-background-testing-offering.svg');
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}