<app-header></app-header>

<section class="container">
    <br>
  <div (click)="goback()"> <button type="button" class="btn" style="color: #0066cc;">< Go back</button> </div>
<p><br><br>
  <b>Rewards</b> <br>
  Find the best project tasks to get you started! Select tasks feasible for you and get testing started to earn rewards!
</p>
</section>
<section class="container">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <button class="nav-link" [ngClass]="{ 'active':activeTab==='Fashion'}" (click)="tabswitch('Fashion')"
      data-toggle="tab">Fashion</button>
    </li>
    <li class="nav-item">
        <button class="nav-link" [ngClass]="{ 'active':activeTab==='OnlineRetails'}" data-toggle="tab"
           (click)="tabswitch('OnlineRetails')">Online Retails</button>
      </li>
      <li class="nav-item">
        <button class="nav-link" [ngClass]="{ 'active':activeTab==='food'}" data-toggle="tab"
           (click)="tabswitch('food')">Food</button>
      </li>
      <li class="nav-item">
        <button class="nav-link" [ngClass]="{ 'active':activeTab==='giftcoupons'}" data-toggle="tab"
           (click)="tabswitch('giftcoupons')">Gift Coupons</button>
      </li>
  </ul>
</section>

<!-- card section starts -->
<section class="container marginspacings">
  <div class="tab-content " data-aos="fade-up" data-aos-duration = "2000">
    <div class="tab-pane" id="Android" [ngClass]="{ 'active':activeTab==='Fashion'}">
      <section class="row" style=" margin-top: 3%; margin-bottom: 1%; ">

      <div *ngFor="let fashion of fashionProjects" class="card border-primary col-mid-3 spacingblock" style="padding-left: 0% !important; padding-right: 0% !important;">
        <div  style="text-align: center;">
          <img  src="{{apiURL}}/images/{{fashion.img_url}}" class="card-img-top img-comp" alt="company logo">
        </div>
        <div class="card-body">
          <h5 class="card-title" style="text-align: center;">{{fashion.title}}</h5>
        </div>
        <div style="display: inline-flex;">
        <div>
          <ul class="list-group list-group-flush border-0">
            <li class="list-group-item border-0">For : {{fashion.title}}</li>
            <li class="list-group-item">Validity: {{fashion.validity}} From Redeem</li>
          </ul>
        </div>
        <div class="rewardpts">
          Cost Points:
          <hr>
          <b>{{fashion.cost_points}}</b>
        </div>
      </div>
        <button data-bs-toggle="modal" data-bs-target="#redeemrewards" (click)="assign(fashion.reward_id)"  class="btn list-group-flush " style="text-align: center; width:100%; background-color: #0497EA; color: #fff;">Redeem Now!</button>
      </div>
      


      <!-- <div class="card border-primary col-mid-3 spacingblock" style="padding-left: 0% !important; padding-right: 0% !important;">
        <div  style="text-align: center;">
          <img src="../assets/gucci.jpg" class="card-img-top img-comp" alt="company logo">
        </div>
        <div class="card-body">
          <h5 class="card-title" style="text-align: center;">Gucci <b>Buy 1 Get 1 !</b></h5>
        </div>
        <div style="display: inline-flex;">
        <div>
          <ul class="list-group list-group-flush border-0">
            <li class="list-group-item border-0">For : Gucci Party Dress - Female</li>
            <li class="list-group-item border-0">Valid For : Exisiting Users</li>
            <li class="list-group-item">Validity: 1 year From Redeem</li>
          </ul>
        </div>
        <div class="rewardpts">
          Cost Points:
          <hr>
          <b>200</b>
        </div>
      </div>
        <button type="button" data-bs-toggle="modal" data-bs-target="#redeemrewards" class="btn list-group-flush " style="text-align: center; width:100%; background-color: #0497EA; color: #fff;">Redeem Now!</button>
        
      </div>
      -->


    </section>
    </div> 
    
    
    <!-- online retails -->
    
    <div class="tab-pane" id="OnlineRetails" [ngClass]="{ 'active':activeTab==='OnlineRetails'}" data-aos="fade-up" data-aos-duration = "2000">
      

      <div>
        <section class="row" style=" margin-top: 3%; margin-bottom: 1%; ">
          <div *ngFor="let online of onlineProjects" class="card border-primary col-mid-3 spacingblock" style="padding-left: 0% !important; padding-right: 0% !important;">
            <div  style="text-align: center;">
              <img src="{{apiURL}}/images/{{online.img_url}}" class="card-img-top img-comp" alt="company logo">
            </div>
            <div class="card-body">
              <h5 class="card-title" style="text-align: center;">{{online.title}}</h5>
            </div>
            <div style="display: inline-flex;">
            <div>
              <ul class="list-group list-group-flush border-0">
                <li class="list-group-item border-0">For : {{online.title}}</li>
                <li class="list-group-item">Validity: {{online.validity}} From Redeem</li>
              </ul>
            </div>
            <div class="rewardpts">
              Cost Points:
              <hr>
              <b>{{online.cost_points}}</b>
            </div>
          </div>
            <button type="button" data-bs-toggle="modal" data-bs-target="#redeemrewards" (click)="assign(online.reward_id)"  class="btn list-group-flush " style="text-align: center; width:100%; background-color: #0497EA; color: #fff;">Redeem Now!</button>
            
          </div>


          <!-- <div class="card border-primary col-mid-3 spacingblock" style="padding-left: 0% !important; padding-right: 0% !important;">
            <div  style="text-align: center;">
              <img src="../assets/img-amazon.png" class="card-img-top img-comp" alt="company logo">
            </div>
            <div class="card-body">
              <h5 class="card-title" style="text-align: center;">Basics <b>10% Off!</b></h5>
            </div>
            <div style="display: inline-flex;">
            <div>
              <ul class="list-group list-group-flush border-0">
                <li class="list-group-item border-0">For : Amazon Basics</li>
                <li class="list-group-item border-0">Valid For : New Users & Existing Users</li>
                <li class="list-group-item">Validity: 2 year From Redeem</li>
              </ul>
            </div>
            <div class="rewardpts">
              Cost Points:
              <hr>
              <b>299</b>
            </div>
          </div>
            <button type="button" data-bs-toggle="modal" data-bs-target="#redeemrewards" class="btn list-group-flush " style="text-align: center; width:100%; background-color: #0497EA; color: #fff;">Redeem Now!</button>
            
          </div>

           -->
  
      </section>
      </div>


    </div>

    <!-- Food -->

    <div class="tab-pane" id="food" [ngClass]="{ 'active':activeTab==='food'}" data-aos="fade-down" data-aos-duration = "2000">

      <div>
        <section class="row" style=" margin-top: 3%; margin-bottom: 1%; ">
  
        <div *ngFor="let food of foodProjects" class="card border-primary col-mid-3 spacingblock" style="padding-left: 0% !important; padding-right: 0% !important;">
          <div  style="text-align: center;">
            <img src="{{apiURL}}/images/{{food.img_url}}" class="card-img-top img-comp" alt="company logo">
          </div>
          <div class="card-body">
            <h5 class="card-title" style="text-align: center;">{{food.title}}</h5>
          </div>
          <div style="display: inline-flex;">
          <div>
            <ul class="list-group list-group-flush border-0">
              <li class="list-group-item border-0">For : {{food.title}}</li>
              <li class="list-group-item">Validity: {{food.validity}} From Redeem</li>
            </ul>
          </div>
          <div class="rewardpts">
            Cost Points:
            <hr>
            <b>{{food.cost_points}}</b>
          </div>
        </div>
          <button type="button" data-bs-toggle="modal" data-bs-target="#redeemrewards" (click)="assign(food.reward_id)"  class="btn list-group-flush " style="text-align: center; width:100%; background-color: #0497EA; color: #fff;">Redeem Now!</button>
         
        </div>
  
  
  
        <!-- <div class="card border-primary col-mid-3 spacingblock" style="padding-left: 0% !important; padding-right: 0% !important;">
          <div  style="text-align: center;">
            <img  src="..\assets\Hut.jpg" class="card-img-top img-comp" alt="company logo">
          </div>
          <div class="card-body">
            <h5 class="card-title" style="text-align: center;">Pizza Hut <b>60% Off!</b></h5>
          </div>
          <div style="display: inline-flex;">
          <div>
            <ul class="list-group list-group-flush border-0">
              <li class="list-group-item border-0">For : Veg Pizza</li>
              <li class="list-group-item border-0">Valid For : New & Existing Users</li>
              <li class="list-group-item">Validity: 1 year From Redeem</li>
            </ul>
          </div>
          <div class="rewardpts">
            Cost Points:
            <hr>
            <b>699</b>
          </div>
        </div>
          <button type="button" data-bs-toggle="modal" data-bs-target="#redeemrewards" class="btn list-group-flush " style="text-align: center; width:100%; background-color: #0497EA; color: #fff;">Redeem Now!</button>
          
        </div> -->
  
      </section>
      </div>

    </div>

    <!-- giftcoupons -->

    <div class="tab-pane" id="giftcoupons" [ngClass]="{ 'active':activeTab==='giftcoupons'}"  data-aos="fade-up" data-aos-duration = "2000">

      <div>
        <section class="row" style=" margin-top: 3%; margin-bottom: 1%; ">
  
        <div *ngFor="let gift of giftProjects" class="card border-primary col-mid-3 spacingblock" style="padding-left: 0% !important; padding-right: 0% !important;">
          <div  style="text-align: center;">
            <img src="{{apiURL}}/images/{{gift.img_url}}" class="card-img-top img-comp" alt="company logo">
          </div>
          <div class="card-body">
            <h5 class="card-title" style="text-align: center;">{{gift.title}}</h5>
          </div>
          <div style="display: inline-flex;">
          <div>
            <ul class="list-group list-group-flush border-0">
              <li class="list-group-item border-0">For : {{gift.title}}</li>
              <li class="list-group-item">Validity: {{gift.validity}} From Redeem</li>
            </ul>
          </div>
          <div class="rewardpts">
            Cost Points:
            <hr>
            <b>{{gift.cost_points}}</b>
          </div>
        </div>
          <button type="button" data-bs-toggle="modal" data-bs-target="#redeemrewards" (click)="assign(gift.reward_id)"  class="btn list-group-flush " style="text-align: center; width:100%; background-color: #0497EA; color: #fff;">Redeem Now!</button>
          
        </div>
  
  
  
        <!-- <div class="card border-primary col-mid-3 spacingblock" style="padding-left: 0% !important; padding-right: 0% !important;">
          <div  style="text-align: center;">
            <img src="..\assets\lenskart.jpg" class="card-img-top img-comp" alt="company logo">
          </div>
          <div class="card-body">
            <h5 class="card-title" style="text-align: center;">Lenskart <b>Buy 1 Get 2 Frames Free!</b></h5>
          </div>
          <div style="display: inline-flex;">
          <div>
            <ul class="list-group list-group-flush border-0">
              <li class="list-group-item border-0">For : Glasses </li>
              <li class="list-group-item border-0">Valid For : New Users</li>
              <li class="list-group-item">Validity: 1 year From Redeem</li>
            </ul>
          </div>
          <div class="rewardpts">
            Cost Points:
            <hr>
            <b>999</b>
          </div>
        </div>
          <button type="button" data-bs-toggle="modal" data-bs-target="#redeemrewards" class="btn list-group-flush " style="text-align: center; width:100%; background-color: #0497EA; color: #fff;">Redeem Now!</button>
          
        </div> -->
  
        
  
        
  
  
      </section>
      </div>

    </div>
</div>

</section>
<!-- card section ends -->




<!-- pop up for reward button -->
<div class="modal fade" id="redeemrewards" tabindex="-1" aria-labelledby="redeemrewardsLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="redeemrewardsLabel"><b style="color:#ff0000">Are you sure?</b> </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
        With this action, reward details will be emailed to registered Email ID
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="redeem()" data-bs-dismiss="modal">Yes, Confirm</button>
      </div>
    </div>
  </div>
</div>

<!-- <div class="modal fade" id="redeemrewards" tabindex="-1" aria-labelledby="redeemrewardsLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="redeemrewardsLabel"><b style="color:#ff0000">Are you sure?</b> </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
        With this action, reward details will be emailed to registered Email ID
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="redeem()" data-bs-dismiss="modal">Yes, Confirm</button>
      </div>
    </div>
  </div>
</div> -->


<!-- pop up for invalid reward points balance-->
<div class="modal fade" id="invalidredeemrewards" tabindex="-1" aria-labelledby="invalidredeemrewardsLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="invalidredeemrewardsLabel"><b style="color:#ff0000">Insufficeint Balance</b> </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
        You have only : <b>100 points</b> in your account. Insufficeint for redeeming with this reward coupon
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Yes, Confirm</button>
      </div>
    </div>
  </div>
</div>


<app-footer></app-footer>