.rewardpts{
    border:0.5px solid rgb(199, 199, 199);
    width:max-content;
    height:max-content;
    margin-right:2%;
    padding:1%;
    text-align: center;
    margin-bottom: 6%;
}

.spacingblock{
    width: min-content; 
    margin-right: 3%;  
    margin-bottom: 2%; 
    width: 22rem; 
    height: 400px;
}

.imgfix{
    object-fit: cover; 
    width:300px;
    height:150px;
    text-align: center;
}


.img-comp{
    object-fit: contain; 
    width:100%;
    height:150px
}


@media screen and (max-width: 600px){
    .marginspacings{
        margin-left: 5%;
    }
}