<app-header></app-header>

<div (click)="goback()" class="container" style="margin-top: 1%;"> <button type="button" class="btn">< go back</button> </div>
<p style="text-align: center; margin-top: 1%;"> <b>Edit Profile Details</b></p> <br>

<div class="row">
    <div style="text-align: center;" >
      <img class="logopic" src=".\assets\company-img.jpg"> <br><br>
      <div>
        Upload Logo to Change : <input class="outlineissue" type="file" id="uploadfile" name="uploadfile"> 
      </div>
    </div>
</div><br>
    <div class="container">
    <div>
      <br>
      Name : <b>Microsoft</b> <input placeholder="Enter Name to change" type="text" class="form-control" id="testername" ><br>
      </div>
      <div class="mb-3" >
        <label for="type" style="margin-top:1%">Type:</label>
            <select id="type" name="type">
                <option value="Organisation/Company">Organisation/Company</option>
                <option value="Individual_Developer">Individual Developer</option>
                <option value=" Team_developer">Team of Developers</option>
            </select>
    </div> 
      <br><br>
    <div style="text-align: center;">
        <button type="submit" class="btn btn-primary">Save the Changes</button>
    </div>
  </div>
  <br><br>


<app-footer></app-footer>