<app-header></app-header>
  <div (click)="goback()" style="margin-top: 1%; " class="container"> <button type="button" style="color: #0066cc;" class="btn">< Go Back</button> </div>
  <br><br>
  <div class="container blockpassword">
      <form *ngIf="user!=='tester' && user!=='developer' && email===''" #emailVerification="ngForm" (ngSubmit)="enterEmail(emailVerification)">
          <div class="mb-3">
              <label for="enteremail" class="form-label">Email:</label>
              <input type="email" required #email="ngModel" ngModel name="email" class="form-control" id="enteremail">
              <span class="error" *ngIf="email.touched && email.invalid ">*Email address is requires</span>
              <span class="error" *ngIf="submittedemail && email.errors?['required']:''">Please enter Email address</span>
            </div>
          
          <button type="submit" class="btn btn-primary">Generate OTP</button>
       </form>
       <form *ngIf="email!==''" #resetForm="ngForm" (ngSubmit)="enterNewPassword(resetForm)">
          <div class="mb-3">
            <label for="otp" class="form-label">Enter OTP :</label>
            <input type="text" required #otp="ngModel" ngModel name="otp" class="form-control" id="otp">
            <span class="error" *ngIf="otp.touched && otp.invalid ">*OTP is requires</span>
            <span class="error" *ngIf="submitted && otp.errors?['required']:''">Please enter OTP</span>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">New Password:</label>
            <input type="password" required #password="ngModel" ngModel name="password" class="form-control" id="password">
            <span class="error" *ngIf="password.touched && password.invalid ">*Password is requires</span>
                  <span class="error" *ngIf="submitted && password.errors?['required']:''">Please enter Password</span>
          </div>
          <div class="mb-3">
              <label for="reenterpassword" class="form-label">Re-Enter New Password</label>
              <input type="password" required #password2="ngModel" ngModel name="password2" class="form-control" id="reenterpassword">
              <span class="error" *ngIf="password2.touched && password2.invalid ">*Reentered password is requires</span>
              <span class="error" *ngIf="submitted && password2.errors?['required']:''">Please re-enter password</span>
            </div>
          <button type="submit" class="btn btn-primary">Save Password</button>
       </form>
  </div>
  <br><br>

  <app-footer></app-footer>

