<app-header></app-header>

<section >
    <div class="row" style="--bs-gutter-x: 0rem !important;">
        <div class="col-sm-1"></div>
        <div class="col-sm-5 mobileview" style="text-align: center; font-size: 1.6rem;margin-top: 15px;">
            Sign Up to the world of Project Testing!
            <br><br><br>
            <img style="width:95%;" src="..\assets\signup_organisations.svg">
        </div>
        <div class="col-sm-6" style="--bs-gutter-x: 0rem !important;">
            <br>
            <div style="text-align: end;margin-right: 5px;color:#0066cc">
                <a href="./login-signup">
                    Tester? Login here!
                </a>
            </div> <br><br>
            <div style="text-align: center; color:#0066cc">
                <b>Welcome to the doorstep!</b> <br>
                Developer's Sign Up
            </div>
            <form [formGroup]="createdeveloper" (ngSubmit)="onSubmit()" style="--bs-gutter-x: 0rem !important;">
                <div class="mb-3" style="margin:1%">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" formControlName="developername" class="form-control" id="name" >
                    <span class="error" *ngIf="formCtrl['developername'].touched && formCtrl['developername'].invalid ">*Name is requires</span>
                    <span class="error" *ngIf="submitted && formCtrl['developername'].errors?['required']:''">Please enter Name</span>
                  </div>
                <div class="mb-3" style="margin:1%">
                  <label for="exampleInputEmail1" class="form-label">Email address</label>
                  <input type="email" formControlName="email" class="form-control" id="exampleInputEmail1" >
                  <span class="error" *ngIf="formCtrl['email'].touched && formCtrl['email'].invalid ">*Email is requires</span>
                  <span class="error" *ngIf="submitted && formCtrl['email'].errors?['required']:''">Please enter Email</span>
                </div>
                <div *ngIf="developer_id==='0'">
                    <div class="mb-3" style="margin:1%">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" formControlName="password" class="form-control" id="exampleInputPassword1">
                    <span class="error" *ngIf="formCtrl['password'].touched && formCtrl['password'].invalid ">*Password is requires</span>
                    <span class="error" *ngIf="submitted && formCtrl['password'].errors?['required']:''">Please enter Password</span>
                    </div>
                    <div class="mb-3" style="margin:1%">
                        <label for="retype-password" class="form-label">Retype Password</label>
                        <input type="password" formControlName="password2" class="form-control" id="retype-password">
                        <span class="error" *ngIf="formCtrl['password2'].touched && formCtrl['password2'].invalid ">*Re-entered Password is requires</span>
                        <span class="error" *ngIf="submitted && formCtrl['password2'].errors?['required']:''">Please Re-entered Password</span>
                    </div>
                </div>
                <div class="mb-3" >
                    <label for="type" style="margin-top:1%">Type:</label>
                    <input type="text" formControlName="type" class="form-control" id="type" >   
                </div> <br>
                <div class="mb-3" >
                    <label for="about" style="margin-top:1%">About us:</label>
                    <textarea type="text-area" formControlName="aboutus" class="form-control" id="about" ></textarea>   
                    <span class="error" *ngIf="formCtrl['aboutus'].touched && formCtrl['aboutus'].invalid ">*About us is requires</span>
                    <span class="error" *ngIf="submitted && formCtrl['aboutus'].errors?['required']:''">Please enter About us</span>
                </div> <br>
                <div class="mb-3" style="margin-left: 1px;">
                    Upload Logo: <input class="outlineissue" type="file" id="uploadfile" (change)="onFileSelect($event)" formControlName="profilepic"> 
                    <span class="error" *ngIf="formCtrl['profilepic'].touched && formCtrl['profilepic'].invalid ">*Profile Picture is requires</span>
                    <span class="error" *ngIf="submitted && formCtrl['profilepic'].errors?['required']:''">Please enter Profile Picture</span>
               </div>
                    <a *ngIf="developer_id!=='0'" href="{{apiURL}}/images/{{createdeveloper.controls['profilepic'].value}}">View previous uploaded image</a>
                <br>
                <div style="text-align: center;">
                    <button type="submit" class="btn btn-primary">Sign Up!</button>
                </div>
                
              </form><br>
              <div *ngIf="progress>0"class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="progress" aria-valuemin="0" aria-valuemax="100" ng-style="{width : ( progress + '%' ) }">{{progress}}%</div><br>
                <div> Please wait your file is uploading</div>
            </div>
            
            <br>
              <div style="text-align: center; ">
                  Projects already on Alphas? <a href="./developer-login" style=" color:#0066cc">Login Now!</a>
              </div>
        </div>
    </div>
    <br>
    <br>
</section>
<section class="developeractions">
    <br><br>
    <div class="row">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-4" style="text-align: start;font-size: 1.5rem;margin-left: 2%;">
            <b>New</b><br>
            Tester At Alphas? Join the world of Testing!
        </div>
        <div class="col-sm-1" style="margin-top:15px;text-align: center;">
            <button class="btn btn-outline-primary"> Sign Up</button>
        </div>
    </div>
    <br>
    <br>
</section>
<app-footer></app-footer>