
<p>testing works!</p>
<form [formGroup]="createtask" (ngSubmit)="onSubmit()">
    <div>
        Title: <input type="text" class="titlebox" style="width:50%" id="title" formControlName="title"><br><br>
    </div>
    <div formArrayName="custpgRows">
        <tr *ngFor="let custpgrow of createtask.controls['custpgRows']['controls']; let i=index;" [formGroupName]="i" >
  <div>
    Page screenshot: <input class="outlineissue" type="file" id="images"(change)="onFileSelect($event,i)" formControlName="images"> 
  </div>
  <div class="input-group">
    <textarea class="form-control" formControlName="descp" placeholder="Description of the Page for testing" style="height: 30px;"></textarea>
    </div>
    <button style="text-align: center;" *ngIf="createtask.controls['custpgRows']['controls'].length > 1" (click)="deleteCustpgRow(i)" class="btn btn-danger">
        <i  aria-hidden="true">Remove this custom page detail</i>
    </button>
    </tr>
    <div style="text-align: center;">
        <button type="button" (click)="addNewCustpg()" class="btn btn-outline-primary">
          Add more page
        </button>
      </div>
  </div>
  <div style="text-align: center;">
    <button type="submit" class="btn btn-primary">Sign Up!</button>
</div>
</form>