.outlineissue{
    border:0.5px solid #0066cc;
    border-radius: 0.25rem;
    text-align: center;
    margin-left: 1%;
    padding-right: 4px;
    padding:2px;
}
.error{
    color: red;
}

@media screen and (max-width: 6000px){
    tr {
        display: block;
        /* vertical-align: inherit; */
        border-color: inherit;
    }
    
}