<app-header></app-header>
<div *ngIf="user==='tester'">
<div (click)="goback()" style="margin-top: 1%; " class="container"> <button type="button" style="color: #0066cc;" class="btn">< Go Back</button> </div>

<section class="container" style="text-align: center;">
    <b>
        Submission Task
    </b> <br>
    <p>{{submissionForm.data.title}}</p>
</section> <br>

<section class="container">
    <div class="row">
        <div class="col-sm-12" style="text-align: end;">
            Enrolled On: <b>{{submissionForm.data.enrolled_on.substring(0,10)}}</b>
        </div>
    </div>
    <hr>
</section>

<section class="container">
    <div class="row">
        <div class="col-sm-4">
            Testing Submission Before: <br><b>{{submissionForm.data.testing_submission_before.substring(0,10)}}</b>
        </div>
        <div class="col-sm-4">
            Platform: <br> <b>{{submissionForm.data.platform}}</b>
        </div>
        <div class="col-sm-4">
            Point Rewards: <br> <b>{{submissionForm.data.point_rewards}}</b>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
           Type: <br> <b>{{submissionForm.data.typeof}}</b>
        </div>
    </div> <br>
    <hr>
</section>

<section class="container">
    <form [formGroup]="addmoreissue" (ngSubmit)="onSubmit()">
    <div formArrayName="issueRows">
        <tr *ngFor="let issuerow of addmoreissue.controls['issueRows']['controls']; let i=index;" [formGroupName]="i" >
            
            <div style="text-align: center;"> <b>Issue {{i+1}}</b></div>
            <br>
        
            <div class="row">

                <div *ngIf="issueType==='UI and Functionality'">
                    <div class="col" style="display: inline-block !important;">Issue Type:</div> 
                        <div class="form-check col" style="text-align: start;" style="display: inline-block !important; margin-left: 2%;">
                            <input class="form-check-input" type="radio" value=0 formControlName="issue_type" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                            UI Testing
                            </label>
                        </div>
                        <div class="form-check col" style="display: inline-block !important; margin-left: 2%;">
                            <input class="form-check-input" type="radio" value=1 formControlName="issue_type" id="flexRadioDefault2">
                            <label class="form-check-label" for="flexRadioDefault2">
                            Functionality Testing
                            </label>
                        </div>
                    </div> 
                    <div *ngIf="issueType==='UI' || issueType==='Functionality'">
                        <div >Issue Type: {{issueType}}</div>
                    </div>    
            </div>
            <div>
                <div *ngIf="pageName.length">         
                    <label for="selectpage">Page Name:</label>
                        <select formControlName="cust_test_pg_id" id="selectpage" required>
                            <option *ngFor="let page of pageName" (click)="onPageSelect(page.ss_url,i)" [ngValue]="page.custom_testing_pages_id">
                                {{ page.pages_title }}
                            </option>
                        </select>
                        <div *ngIf="selectedimage">
                        <a href="{{apiURL}}/images/{{selectedimage}}">View selected page image</a>
                        </div>
                        <span class="error" *ngIf="issuerow.controls.cust_test_pg_id.pristine && issuerow.controls.cust_test_pg_id.touched && issuerow.controls.cust_test_pg_id.invalid ">*Page Name is requires</span>
                        <span class="error" *ngIf="submitted && issuerow.controls.cust_test_pg_id.errors?['required']:''">*Please Select Page Name</span>
                </div>
            </div> 
            <div style="margin-top:3px">
            <span>
                Upload Screenshot/Screen Recording : <input class="outlineissue" type="file" id="images" (change)="onFileSelect($event,i)" formControlName="images"> 
            </span>
            <span class="error" *ngIf="issuerow.controls.images.pristine && issuerow.controls.images.touched && issuerow.controls.images.invalid ">*Image is requires</span>
            <span class="error" *ngIf="submitted && issuerow.controls.images.errors?['required']:''">*Please Upload Image</span>
            <!-- <span style="font-size: 10px;">
                Instead upload Url
            </span> -->
            </div>
            <div>
                Detailed User Description:
                <div class="input-group">
                    <textarea class="form-control" id="description" formControlName="descp" style="height: 150px;"></textarea>
                </div>
                <span class="error" *ngIf="issuerow.controls.descp.pristine && issuerow.controls.descp.touched && issuerow.controls.descp.invalid ">*Description is requires</span>
                <span class="error" *ngIf="submitted && issuerow.controls.descp.errors?['required']:''">*Please Enter Description</span>
            </div>
            <hr>
            <button *ngIf="addmoreissue.controls['issueRows']['controls'].length > 1" (click)="deleteRow(i)" class="btn btn-danger">
                <i aria-hidden="true">Remove this issue</i>
            </button> <br><br>
        </tr> 
        <div style="text-align: center;">
            <button type="button" (click)="addNewIssue()" class="btn btn-outline-primary">Add Another Issue</button>
        </div> <br><br>
        <div style="text-align: center;">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <br><br>
    </div> 
    </form>
    <div *ngIf="progress>0"class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="progress" aria-valuemin="0" aria-valuemax="100" ng-style="{width : ( progress + '%' ) }">{{progress}}%</div><br>
        <div> Please wait your file is uploading</div>
    </div>
    
    <br>
</section>
<app-footer></app-footer>
</div>
<div *ngIf="user!=='tester'">
    Sorry you are unauthorized
  </div>