<app-header></app-header>

<div (click)="goback()" class="container" style="margin-top: 1%; color: #0066cc !important;"> <button type="button" style="color: #0066cc !important;" class="btn">< Go Back</button> </div>
<section class="container" style="text-align: center;">
    <b>
        {{projectDetail.proj_detail.title}}
    </b>
</section> <br>
<section class="container" >
    {{projectDetail.proj_detail.title}} <br>
    Company/Developer: <b>{{projectDetail.proj_detail.name}}</b>

</section>
<hr  class="container">
<section  class="container">
    <div class="row">
        <div class="col-sm-4">
            Enrollment Ends on: 
            <br> 
            <b>{{projectDetail.proj_detail.enrollment_ends_on.substring(0, 10)}}</b>
        </div>
        <div class="col-sm-4">
            Testing Submissions: 
            <br> 
            <b>{{projectDetail.proj_detail.testing_submission_before.substring(0, 10)}}</b>
        </div>
        <div class="col-sm-4">
            Points Rewards: 
            <br> 
            <b>{{projectDetail.proj_detail.point_rewards}}</b>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-4">
            Type:
            <br> 
            <b>{{projectDetail.proj_detail.typeof}}</b>
        </div>
        <div class="col-sm-4">
            Platform: 
            <br> 
            <b>{{projectDetail.proj_detail.platform}}</b>
        </div>
        <div class="col-sm-4">
            Gender Perference: 
            <br> 
            <b>{{projectDetail.proj_detail.gender}}</b>
        </div>
    </div>
</section>
<hr  class="container">

<section class="container">

    <div class="row">
        <div class="col-sm-12 ">
            About <b>{{projectDetail.proj_detail.name}}</b> <br><br>   
        <!-- <div *ngIf="user=='developer'">
          {{devDetail.about_us}}
        </div>
        <div *ngIf="user!='developer'"> -->
          {{projectDetail.proj_detail.about_us}}
        <!-- </div> -->
        </div>
    </div>
</section>
<hr  class="container">
<section class="container">
    <div>
    About: <b>Tasks</b> <br>
    The Applicants Have to:
    <!-- <ol>
        <li>Test the App</li>
        <li>Find the Bugs</li>
        <li>Take Screen recording</li>
      </ol>   -->
    {{projectDetail.proj_detail.about_task}}
    </div>
    <div>
        <b>Eligibility</b> <br>
        <ol>
            <li>Self device ownership</li>
            <li>Age group {{projectDetail.proj_detail.age_lower_limit}}-{{projectDetail.proj_detail.age_upper_limit}} Only</li>
          </ol>  
        </div>
</section>
<section class="container">
    <div class="row">
        <div class="col-sm-12 ">
          <div *ngIf="projectDetail.termsandcond.length!=0">  
              <b>Terms and Conditions</b> <br><br>   
            <div>
              <ol>
                <tr *ngFor="let terms of projectDetail.termsandcond">
                  <li>{{terms.description}}</li>
                </tr>
              </ol> 
            </div>
          </div>
        </div>
    </div>
</section><br>
<section class="container">
    <div class="row">
        <div class="col-sm-12">
            <div *ngIf="projectDetail.custpgdetail.length!=0">  
              <b>Pages To Test:</b> Custom Pages <br>
                <div class="row">
                  <div>
                      <div class="accordion accordion-flush" style="border: 0.5px solid rgb(240, 240, 240); border-radius: 5px;" id="accordionFlushExample">
                          <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingOne">
                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                View Custom Page Details
                              </button>
                            </h2>
                            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                              <div class="accordion-body">
                                  <table class="table">
                                      <thead>
                                        <tr>
                                          <th scope="col">Page Name</th>
                                          <th scope="col">Description</th>
                                          <th scope="col">Screenshot</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                          <tr *ngFor="let custDetail of projectDetail.custpgdetail">
                                            <th scope="row">{{custDetail.pages_title}}</th>
                                            <td> {{custDetail.description}}</td>
                                            <td><a href="{{apiURL}}/images/{{custDetail.ss_url}}" target="_blank" style="color: #000;">View</a></td> 
                                          </tr>
                                      </tbody>
                                    </table>
                              </div>
                            </div>
                          </div>
                        </div>
                  </div>
              </div>
            </div>
            <div *ngIf="projectDetail.custpgdetail.length==0">  
              <b>Pages To Test:</b> All Pages <br>
            </div>
        </div>
    </div>
    

</section>
<div *ngIf="user==='tester'">
  <div class="container" style="margin-top: 3%; margin-bottom:3%; text-align: center;"> 
    <button *ngIf="message==='eligible'" type="button" (click)="enroll()" class="btn btn-primary" >Enroll Now</button>
    <span *ngIf="message==='already'" >You are already enrolled in this project</span>
    <span *ngIf="message==='gender'" >Only {{projectDetail.proj_detail.gender}} are required to enroll</span>
    <span *ngIf="message==='agelimit'" >Sorry! You are out of age range</span>
    <span *ngIf="message==='both'" >Only {{projectDetail.proj_detail.gender}} are required to enroll and you are out of age range</span>
  </div>
</div>

<div *ngIf="user!=='developer' && user!=='tester'">
  <div class="container" style="margin-top: 3%; margin-bottom:3%; text-align: center;"> 
      <button type="button" (click)="enroll()" class="btn btn-primary" >Enroll Now</button>
  </div>
  <!-- <div class="container" style="margin-top: 3%; margin-bottom:3%; text-align: center;"> 
    <button type="button" class="btn btn-outline-danger" >Enroll Now</button>
  </div> -->
</div>

<app-footer></app-footer>
