<app-header></app-header>
<br>
<div *ngIf="user==='tester'">
  <div (click)="goback()" style="margin-top: 1%; " class="container"> <button type="button" style="color: #0066cc;" class="btn">< Go Back</button> </div>
  <p style="text-align: center;"> User History </p>

<section>
    <ul class="nav nav-tabs container">
        <li class="nav-item">
          <button class="nav-link" aria-current="page" [ngClass]="{ 'active':activeTab==='completedproject'}" data-toggle="tab"
          (click)="tabswitch('completedproject')">Completed Project</button>
        </li>
        <li class="nav-item">
          <button class="nav-link" aria-current="page" [ngClass]="{ 'active':activeTab==='pointrewards'}" data-toggle="tab"
          (click)="tabswitch('pointrewards')">Points History</button>
      </ul>
      <div class="tab-content">
    <div  class="tab-pane" id="completedproject" [ngClass]="{ 'active':activeTab==='completedproject'}">
      <section *ngIf="inReviewProjects.length>0" class="container">
        <br>
        <div class="row">
          <br><br>
          <div class="col-sm-8"> 
            Completed Projects : <b>{{inReviewProjects.length}}</b> (Total: {{inReviewProjects.length}} Projects Completed) <br><br>
            This Tab consists of all project submitted by you, points yet to be granted
          </div> 
          
        </div> <br><br>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Company</th>
                <th scope="col">Submitted On</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let rProjects of inReviewProjects">
                <th scope="row">{{rProjects.name}}</th>
                <td>{{rProjects.submitted_on.substring(0, 10)}}</td>
                <td>{{rProjects.status}}</td>
              </tr>
            </tbody>
          </table>
    </section>
    <div *ngIf="inReviewProjects.length==0" style="text-align: center; font-family: sans-serif; font-size: 60px;" data-aos="zoom-out" data-aos-duration = "1900">
      <br><br>
      No InReview Projects here!
      <br><br>
  </div>
    </div>
    <div class="tab-pane" id="pointrewards" [ngClass]="{ 'active':activeTab==='pointrewards'}">
      <div *ngIf="grantedProjects.data.length>0" class="container">
        <br><br>
        <div class="row">
          <div class="col-sm-8"> 
            Points Received : <b>{{grantedProjects.totalRewards.reward_points}}</b> (Total: {{grantedProjects.data.length}} Projects Reward)
          </div> 
          <br><br>
          <div style="text-align: center;">
            <b>History</b>
          </div><br><br>
          <table class="table">
              <thead>
                <tr>
                  <th scope="col">Company</th>
                  <th scope="col">Granted On</th>
                  <th scope="col">Points</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let gProjects of grantedProjects.data">
                  <th scope="row">{{gProjects.name}}</th>
                  <td>{{gProjects.rewarded_on.substring(0, 10)}}</td>
                  <td>{{gProjects.points_recieved}}</td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>
      <div *ngIf="grantedProjects.data.length==0" style="text-align: center; font-family: sans-serif; font-size: 60px;" data-aos="zoom-out" data-aos-duration = "1900">
        <br><br>
        No Granted Projects here!
        <br><br>
    </div>
    </div>  
      </div>
</section>

<app-footer></app-footer>
</div>
<div *ngIf="user!=='tester'">
    Sorry you are unauthorized
  </div>