.titlebox{
    outline: 0;
    border-width: 0 0 1px;
    border-color: #000
}
.error{
    color: red;
}
@media screen and (max-width: 6000px){
    tr {
        display: block;
        /* vertical-align: inherit; */
        border-color: inherit;
    }
}