<app-header></app-header>
<div *ngIf="user==='developer'">
<div (click)="goback()" style="margin-top: 1%; " class="container"> <button type="button" style="color: #0066cc;" class="btn">< Go Back</button> </div>

<section class="container" style="text-align: center;">
    <b>
        Create Task 
    </b>
</section> <br>

<section class="container">
  <form [formGroup]="createtask" (ngSubmit)="onSubmit()">
      <div>
          Title: <input type="text" class="titlebox" style="width:50%" id="title" formControlName="title" required><br><br>
          <span class="error" *ngIf="(formCtrl['title'].touched )&& formCtrl['title'].invalid ">*Title is requires</span>
          <span class="error" *ngIf="submitted && formCtrl['title'].errors?['required']:''">Please enter title</span>
      </div>
      <div>
          <div *ngIf="createtask.controls['eeo'].value"> 
            Enrollment Ends On: 
            <input type="date" id="endenrolldate"  formControlName="eeo"> 
            <label for="endenrolldate" style="font-size: 11px;margin-left: 1%;">Choose Enrollment End Date</label>
            (Previously selected date - {{createtask.controls['eeo'].value.substring(0,10)}})
          </div>
          <div *ngIf="!createtask.controls['eeo'].value"> 
            Enrollment Ends On: 
            <input type="date" id="endenrolldate" min="{{currentDate }}" formControlName="eeo"> 
            <label for="endenrolldate" style="font-size: 11px;margin-left: 1%;">Choose Enrollment End Date</label>
          </div>
          <span class="error" *ngIf="currentDate && formCtrl['eeo'].value < currentDate">* Enrollment Date must be later than today</span>
          <span class="error" *ngIf="formCtrl['eeo'].touched && formCtrl['eeo'].invalid ">*Enrollment End Date is requires</span>
          <span class="error" *ngIf="submitted && formCtrl['eeo'].errors?['required']:''">Please enter Enrollment End Date</span>
      </div> <br>
      <div>
          <div *ngIf="createtask.controls['tsb'].value"> 
            Testing Submission Before: 
          <input type="date" id="submissiondate"  formControlName="tsb"> 
          <label for="submissiondate" style="font-size: 11px;margin-left: 1%;">Choose Submission Date</label>
            (Previously selected date - {{createtask.controls['tsb'].value.substring(0,10)}})
          </div>
          <div *ngIf="!createtask.controls['tsb'].value">
            Testing Submission Before:
            <input type="date" id="submissiondate" min="formCtrl['tsb'].value" formControlName="tsb" required>
            <label for="submissiondate" style="font-size: 11px;margin-left: 1%;">Choose Submission Date</label>
          </div>
          <span class="error" *ngIf="formCtrl['tsb'].value < formCtrl['eeo'].value">* Submission Date must be later than Enrollment Date</span>
          <span class="error" *ngIf="formCtrl['tsb'].touched && formCtrl['tsb'].invalid ">*Submission Date is requires</span>
          <span class="error" *ngIf="submitted && formCtrl['tsb'].errors?['required']:''">Please enter Submission Date</span>
      </div> <br>
      <div>
          Platform: <br>
          <!-- <div class="row" style="margin-left: 1px;">
          <div class="form-check col-sm-2">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Android
              </label>
            </div>
            <div class="form-check col-sm-2">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                iOS
              </label>
            </div>
            <div class="form-check col-sm-2">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Website
              </label>
            </div>
          </div> -->
          <select formControlName="plaform" id="selectpage" required>
            <option value="0">
              Android
            </option>
            <option value="1">
              iOS
            </option>
            <option value="2">
              Website
            </option>
            <option value="3">
              Android and iOS
            </option>
            <option value="4">
              Android and Website
            </option>
            <option value="5">
              iOS and Website
            </option>
            <option value="6">
              Android, iOS and Website
            </option>
          </select>
          <span class="error" *ngIf="formCtrl['plaform'].touched && formCtrl['plaform'].invalid ">*Platform is requires</span>
          <span class="error" *ngIf="submitted && formCtrl['plaform'].errors?['required']:''">Please enter Platform</span>
      </div> <br>

      <div>
          Type: <br>
          <!-- <div class="row" style="margin-left: 1px;">
          <div class="form-check col-sm-2">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                UI Testing
              </label>
            </div>
            <div class="form-check col-sm-2">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Functionality Testing
              </label>
            </div>
          </div> -->
          <select formControlName="type" id="selectpage">
            <option value="0">
              UI
            </option>
            <option value="1">
              Functionality
            </option>
            <option value="2">
              Both
            </option>
          </select>
          <span class="error" *ngIf="formCtrl['type'].touched && formCtrl['type'].invalid ">*Type is requires</span>
          <span class="error" *ngIf="submitted && formCtrl['type'].errors?['required']:''">Please enter Type</span>
      </div> <br>

      <div>
          Issue Upload Type: <br>
          <!-- <div class="row" style="margin-left: 1px;">
          <div class="form-check col-sm-3">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Screenshot (.png/.jpg/.jpeg files)
              </label>
            </div>
            <div class="form-check col-sm-2">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Screen Recording (.mp4)
              </label>
            </div>
          </div> -->
          <select formControlName="iss_type" id="selectpage">
            <option value="0">
              SS
            </option>
            <option value="1">
              Screen Recording
            </option>
            <option value="2">
              Both
            </option>
          </select>
          <span class="error" *ngIf="formCtrl['iss_type'].touched && formCtrl['iss_type'].invalid ">*Submission Date is requires</span>
          <span class="error" *ngIf="submitted && formCtrl['iss_type'].errors?['required']:''">Please enter Submission Date</span>
      </div> <br>

      <div>
          Point Rewards: <input type="number" id="quantity" formControlName="points" min="10" max="1000"> (Should be in range of 10 to 1000)
          <span class="error" *ngIf="formCtrl['points'].touched && formCtrl['points'].invalid ">*Points is requires</span>
          <span class="error" *ngIf="submitted && formCtrl['points'].errors?['required']:''">Please enter Points</span>
      </div> <br>

      <div >
        <div *ngIf="project_id==0" class="row" style="margin-left: 1px;">
          Testing Pages: <br>
            <!-- <div class="form-check col-sm-3">
                <input class="form-check-input" type="radio" (click)="custompageshowhide()" id="all" name = 'test_type' formControlName="test_type" value=0>
              <label class="form-check-label" for="all">All Pages</label><br>
              </div>
              <div class="form-check col-sm-2">
                
                <input class="form-check-input" type="radio" (click)="custompageshow()" id="custom" name = 'test_type' formControlName="test_type" ng-checked="true" value=1 >
              
              <label class="form-check-label" for="custom">Custom Pages</label>
              </div> -->
              <select class="form-check col-sm-3" formControlName="test_type" (change)="testingPageType($event)" id="selectpage">
                <option value="0">
                  All Pages
                </option>
                <option value="1">
                  Custom Pages
                </option>
              </select>
              <span class="error" *ngIf="formCtrl['test_type'].touched && formCtrl['test_type'].invalid ">*Testing Pages is requires</span>
              <span class="error" *ngIf="submitted && formCtrl['test_type'].errors?['required']:''">Please enter Testing Pages</span>
            </div> <br>
            <div *ngIf="this.formpages==1">
            <div>
              <b>Enter Custom Pages Details</b>
            </div> <br>
            <div formArrayName="custpgRows">
              <tr *ngFor="let custpgrow of createtask.controls['custpgRows']['controls']; let i=index;" [formGroupName]="i" >
                <div style="text-align: center;"> <b>Custom page {{i+1}}</b></div>
                <br>
                  <div class="row" style="margin-left: 1px;">
                    <div class="col-sm-5">
                      <div>
                         
                        Page screenshot: <input class="outlineissue" type="file" id="images" (change)="onFileSelect($event,i)" formControlName="images"> 
                        <span class="error" *ngIf="formCtrl['test_type'].value==1 && custpgrow.controls.images.pristine && custpgrow.controls.images.touched && custpgrow.controls.images.invalid ">*Images is requires</span>
                        <span class="error" *ngIf="formCtrl['test_type'].value==1 && submitted && custpgrow.controls.pgtitle.errors?['required']:''">Please Upload Image</span>
                      </div>
                      <a *ngIf="custpgrow.images" href="{{apiURL}}/images/{{custpgrow.value.images}}">View previous uploaded image</a>
                       <br>
                    </div>
                    <div class="col-sm-3">
                      <div>
                        <input type="text"  placeholder="Page Name" id="pname" formControlName="pgtitle"><br><br>
                        <span class="error" *ngIf="formCtrl['test_type'].value==1 && custpgrow.controls.pgtitle.pristine && custpgrow.controls.pgtitle.touched && custpgrow.controls.pgtitle.invalid ">*Page Name is requires</span>
                        <span class="error" *ngIf="formCtrl['test_type'].value==1 && submitted && custpgrow.controls.pgtitle.errors?['required']:''">Please Enter Page Name</span>
                    </div>
                    </div>
                    <div class="col">
                      <div class="input-group">
                        <textarea class="form-control" formControlName="descp" placeholder="Description of the Page for testing" style="height: 30px;"></textarea>
                    </div>
                    </div>
                  </div>
                  <hr>
                  <button type="button" style="text-align: center;" *ngIf="createtask.controls['custpgRows']['controls'].length > 1" (click)="deleteCustpgRow(i,custpgrow.value)" class="btn btn-danger">
                    <i  aria-hidden="true">Remove this custom page detail</i>
                  </button>
              </tr>
                <div style="text-align: center;">
                  <button type="button" (click)="addNewCustpg()" class="btn btn-outline-primary">
                    Add more page
                  </button>
                </div>
            </div>
        </div>
      </div> <br> 

      <div>
          Tester's Background: <br>
          Age Group: <input type="number" id="min-number" formControlName="age_lower" min="18" max="99">
          <span class="error" *ngIf="formCtrl['age_lower'].touched && formCtrl['age_lower'].invalid ">*Age Required (between 18-99) is requires</span> 
          <span class="error" *ngIf="submitted && formCtrl['age_lower'].errors?['required']:''">Please enter Age</span>
          to 
          <input type="number" id="title" formControlName="age_upper" min="19" max="100">
          <span class="error" *ngIf="formCtrl['age_upper'].touched && formCtrl['age_upper'].invalid ">*Age Required (between 19-100) is requires</span>
          <span class="error" *ngIf="submitted && formCtrl['age_upper'].errors?['required']:''">Please enter Age</span>
          <div> <br>
              
              <!-- <div class="row">
                  <div class="col-sm-1">
                      Gender:
                  </div>
              <div class="form-check col-sm-1" style="margin-left: 1px;">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                  <label class="form-check-label" for="flexCheckDefault">
                    Male
                  </label>
                </div>
                <div class="form-check col-sm-2" style="margin-left: 1px;">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                  <label class="form-check-label" for="flexCheckDefault">
                    Female
                  </label>
                </div>
              </div> -->
              Gender:
              <select formControlName="gen" id="selectpage">
                <option value="0">
                  Male
                </option>
                <option value="1">
                  Female
                </option>
                <option value="2">
                  Both
                </option>
              </select>
              <span class="error" *ngIf="formCtrl['gen'].touched && formCtrl['gen'].invalid ">*Gender is requires</span>
              <span class="error" *ngIf="submitted && formCtrl['title'].errors?['required']:''">Please enter title</span>
          </div> <br>

      </div>

      <div>
          About Task(Please provide a detailed description about the task with link to the platform to be tested):
          <div class="input-group">
              <textarea class="form-control" formControlName="about" style="height: 150px;"></textarea>
          </div>
      </div>
      <br>
      <div>
          Terms and Conditions:
          
          <div formArrayName="termRows">
            <tr *ngFor="let termrow of createtask.controls['termRows']['controls']; let i=index;" [formGroupName]="i" >
              <br><br>
              <div style="text-align: center;"> <b>Term and Condition {{i+1}}</b></div>
              <br>
              <div>
                Detailed User Description:
                <div class="input-group">
                    <textarea class="form-control" id="description" formControlName="descp" style="height: 150px;"></textarea>
                </div>
              </div>
              <hr>
              <button type="button" *ngIf="createtask.controls['termRows']['controls'].length > 1" (click)="deleteRow(i,termrow.value)" class="btn btn-danger">
                  <i aria-hidden="true">Remove this term</i>
              </button>
            </tr>
            <div style="text-align: center;">
              <button type="button" (click)="addNewIssue()" class="btn btn-outline-primary">Add Another Term and Condition</button>
          </div> <br><br>
          </div>
      </div>
      <br>
      <div style="text-align: center;">
          <button type="submit" class="btn btn-primary">Go Live!</button>
      </div>
      
  </form>
  <div *ngIf="progress>0"class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="progress" aria-valuemin="0" aria-valuemax="100" ng-style="{width : ( progress + '%' ) }">{{progress}}%</div><br>
    <div> Please wait your file is uploading</div>
</div>

<br>
</section>
<br><br>
<app-footer></app-footer>
</div>
<div *ngIf="user!=='developer'">
  Sorry you are unauthorized
</div>