<app-header></app-header>
<div *ngIf="user==='developer'">
<div (click)="goback()" style="margin-top: 1%; " class="container"> <button type="button" style="color: #0066cc;" class="btn">< Go Back</button> </div>

<section class="container" style="text-align: center;">
    <b>
        Task Response <br>
        (TITLE: {{issuesReported.projectDetail.title}}) 
    </b>
</section> <br>
<section class="container" style="text-align: center;">
    <b>
        Submission Task
    </b> <br>
    <p>{{issuesReported.projectDetail.title}}</p>
</section> <br>

<section class="container">
    <div class="row">
        <div class="col-sm-6">
            Tester Name: <b>{{issuesReported.projectDetail.name}}</b>
        </div>
        <div class="col-sm-6">
            Enrolled On: <b>{{issuesReported.projectDetail.enrolled_on.substring(0,10)}}</b>
        </div>
    </div>
</section>

<hr class="container">

<section class="container">
    <div class="row">
        <div class="col-sm-6">
            Submitted On: <b>{{issuesReported.projectDetail.submitted_on.substring(0,10)}}</b>
        </div>
        <div class="col-sm-6">
            Points Rewards: <b>{{issuesReported.projectDetail.point_rewards}}</b>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            Issues Reported: <b>{{issuesReported.issues.length}}</b>
        </div>
    </div> <br>
    <div class="row">
        <div *ngIf="issuesReported.projectDetail.active==1" class="col-sm-4">
            <div class="container" style="margin-top: 3%; margin-bottom:3%; text-align: end;"> 
                <button type="button" (click)="contactTester(issuesReported.projectDetail.email)"class="btn btn-outline-primary" >Contact Tester</button>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="container" style="margin-top: 3%; margin-bottom:3%; text-align: center;"> 
                <button type="button"  class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#grantpoints">Grant Points</button>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="container" style="margin-top: 3%; margin-bottom:3%; text-align: left;"> 
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#downvote">Down Vote Tester</button>
            </div>
        </div>
    </div>
</section>
<hr class="container">

<section class="container">
    <div>
        <b>Filters:</b>
    </div>
    <div class="button-group">
        <button type="button" (click)="uiissuebtn()" *ngIf="this.activeui" class="btn btn-outline-primary " style="color: #000; background-color: #fff;">UI Issues Only</button>
        <button type="button"  (click)="uiissuebtn()" *ngIf="!this.activeui" class="btn btn-primary" style=" background-color: #0066cc;color: rgb(255, 255, 255);">UI Issues Selected</button>

        <button type="button" (click)="fnissuebtn()" *ngIf="this.activefunctn" class="btn btn-outline-primary marginblks" style="color: #000; background-color: #fff;">Functionality Issues Only</button>
        <button type="button" (click)="fnissuebtn()" *ngIf="!this.activefunctn" class="btn btn-primary marginblks" style=" background-color: #0066cc;color: rgb(255, 255, 255);">Functionality Issues Selected</button>

        <button type="button" (click)="clearall()" class="btn btn-link" style="color: #000; font-size: 15px;"> Clear  all filters</button>
    </div>

</section>
<br><br>
<section class="container">

    <tr *ngFor="let issue of issuesReported.issues;let i=index;">
        <div *ngIf="issue.issue_type==='UI Testing'">
            <div *ngIf="this.activefunctn && !this.activeui">
                
                <div style="text-align: center;">
                    <b>Issue #{{i+1}}</b>
                </div>
                <div class="row">
                        <div style="margin-block: 3px !important; ">
                            <span>Issue Type :</span><span class="outlineissue"> {{issue.issue_type}}</span>
                        </div> 
                    <div style="margin-block: 3px !important;" *ngIf="issue.pages_title">
                        <span>Page Name :</span><span class="outlineissue"> {{issue.pages_title}}</span>
                    </div><br>
                    <div style="margin-block: 3px !important;">
                        <span>Uploaded Screenshot/Screen Recording :</span><span class="outlineissue"> {{issue.img_url}} </span> <a href="{{apiURL}}/images/{{issue.img_url}}" style="font-size: 12px;color: #0066cc;">
                           
                            (Download File)
                        </a> 
                    </div>
                    <div>
                        Detailed User Description:
                    </div> <br>
                    <div class="descoutlineissue">
                        {{issue.description}}
                    </div>
                </div>
            </div><br><br>
        </div>
        <div *ngIf="issue.issue_type==='Functionality Testing'">
            <div *ngIf="this.activeui && !this.activefunctn">

                <div style="text-align: center;">
                    <b>Issue #{{i+1}}</b>
                </div>
                <div class="row">
                        <div style="margin-block: 3px !important;">
                            <span>Issue Type :</span><span class="outlineissue"> {{issue.issue_type}}</span>
                        </div> 
                    <div style="margin-block: 3px !important;" *ngIf="issue.pages_title">
                        <span>Page Name :</span><span class="outlineissue"> {{issue.pages_title}}</span>
                    </div>
                    <div style="margin-block: 3px !important;">
                        <span>Uploaded Screenshot/Screen Recording :</span>
                        <span class="outlineissue"> {{issue.img_url}} </span>
                        <a href="{{apiURL}}/images/{{issue.img_url}}" style="font-size: 12px;color: #0066cc;">
                           
                            (Download File)
                        </a> 
                    </div>
                    <div>
                        Detailed User Description:
                    </div> <br>
                    <div class="descoutlineissue">
                        {{issue.description}}
                    </div>
                </div>
            </div> <br><br>
        </div>
        
        <div *ngIf="(this.activeui && this.activefunctn) || (!this.activeui && !this.activefunctn)">

            <div style="text-align: center;">
                <b>Issue #{{i+1}}</b>
            </div>
            <div class="row">
                    <div style="margin-block: 3px !important;">
                        <span>Issue Type :</span><span class="outlineissue"> {{issue.issue_type}}</span>
                    </div> <br>
                <div style="margin-block: 3px !important;" *ngIf="issue.pages_title">
                    <span>Page Name :</span><span class="outlineissue"> {{issue.pages_title}}</span>
                </div>
                <div style="margin-block: 3px !important;">
                    <span>Uploaded Screenshot/Screen Recording :</span><span class="outlineissue"> {{issue.img_url}} </span> <a href="{{apiURL}}/images/{{issue.img_url}}" style="font-size: 12px;color: #0066cc;">
                           
                            (Download File)
                        </a> 
                </div>
                <div>
                    Detailed User Description:
                </div> <br>
                <div class="descoutlineissue">
                    {{issue.description}}
                </div>
            </div> <br><br>
        </div>
    </tr>    
    <hr>
  <br><br>

    <div class="row">
        <div class="col-sm-4">
            <div class="container" style="margin-top: 3%; margin-bottom:3%; text-align: end;"> 
                <button type="button" (click)="contactTester(issuesReported.projectDetail.email)" class="btn btn-outline-primary" >Contact Tester</button>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="container" style="margin-top: 3%; margin-bottom:3%; text-align: center;"> 
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#grantpoints" >Grant Points</button>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="container" style="margin-top: 3%; margin-bottom:3%; text-align: left;"> 
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#downvote">Down Vote Tester</button>
            </div>
        </div>
    </div>

    <br><br>

</section>
<section *ngIf="issuesReported.issues.length==0">
    <div style="text-align: center; font-family: sans-serif; font-size: 60px;" data-aos="zoom-out" data-aos-duration = "1900">
        <br><br>
        No Issues Reported!
        <br><br>
    </div>
</section>
<app-footer></app-footer>

<!-- pop up for Grant points button -->
<div class="modal fade" id="grantpoints" tabindex="-1" aria-labelledby="grantpointsLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="grantpointsLabel"><b style="color:#ff0000">Are you sure?</b> </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" style="color:#000">
            With this action,<b> {{issuesReported.projectDetail.point_rewards}} points</b> will be given to the Tester
          </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" (click)="grantpoints(issuesReported.projectDetail.tester_id,issuesReported.projectDetail.point_rewards,issuesReported.projectDetail.email)" class="btn btn-primary"  data-bs-dismiss="modal">Yes, Confirm</button>
        </div>
      </div>
    </div>
  </div>




  <!-- pop up for Down Vote button -->
<div class="modal fade" id="downvote" tabindex="-1" aria-labelledby="downvoteLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="downvoteLabel"><b style="color:#ff0000">Are you sure?</b> </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" style="color:#000">
            <b>With this action, Tester would be downvoted !</b>
            <p><b style="color:#ff0000"> Note: </b>You might receive an Email from company to justify the reason for Downvote. Please keep any valid document available to confirm.<br> Any invalid Downvote action may result in strict actions.</p>
            <br>
            <p><b style="color:#ff0000"> Downvote Conditions: </b> <br> 1.Tester has uploaded offensive files or files which may impact directly or indirectly to you/your product and impact you negatively. <br>2. Invalid response from Tester <br>3.Not followed the Terms and Conditions. </p>

          </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" (click)="downvote(issuesReported.projectDetail.tester_id,issuesReported.projectDetail.email)" class="btn btn-danger"  data-bs-dismiss="modal">Yes, Downvote the Tester</button>
        </div>
      </div>
    </div>
  </div>

</div>
<div *ngIf="user!=='developer'">
    Sorry you are unauthorized
  </div>
