.marginblks{
    margin:1%;
}

.outlineissue{
    border:0.5px solid #0066cc;
    border-radius: 0.25rem;
    text-align: center;
    margin-left: 1%;
    padding-right: 4px;
}

.descoutlineissue{
    border:0.5px solid #0066cc;
    border-radius: 0.25rem;
    text-align: left;
    margin-left: 1%;
    padding-right: 4px;
    height: min-content;
    padding: 10px;
}