<nav class="navbar navbar-expand-lg navbar-light bg-light ">
    <div class="container-fluid " style="margin-left: 1%; margin-right: 1%;">
        <a href="#" class="navbar-brand d-none d-lg-block">
            <img src="..\assets\logo-alphas.png" height="28" alt="Alphas_logo"> Alphas
        </a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="./explore" class="nav-item nav-link active">Explore</a>
                <a href="./developer-login" class="nav-item nav-link">For Developers</a>
                <a href="./aboutus" class="nav-item nav-link">About Us</a>
            </div>
            
        </div>
        <a href="#" class="navbar-brand d-lg-none">
            <img src="..\assets\logo-alphas.png" height="28" alt="Alphas_logo"> Alphas
        </a>
        <div class="navbar-nav ms-auto">
            <button type="button" class="btn btn-login" style=" color: #fff;background-color: #0d6efd; border-color: #0d6efd;" (click)="navigatetopage()">Sign-in/Login</button>
        </div>
    </div>
</nav>