<app-header></app-header>
<div *ngIf="user==='developer'">
<div (click)="goback()" style="margin-top: 1%; " class="container"> <button type="button" style="color: #0066cc;" class="btn">< Go Back</button> </div>

<section class="container" style="text-align: center;">
    <b>
        Task Center 
    </b>
</section> <br>
<section class="container" >
        <div class="row">
            <div class="col-sm-4">Currently Active Tasks: <b>{{taskLists.active}}</b> </div> 
            <div class="col-sm-4">InActive/Completed Tasks : <b>{{taskLists.inactive}}</b> </div>
            <div class="col-sm-4" style="text-align: end;">
                <button type="button" class="btn btn-outline-primary marginblks" (click)="newtask()" style="color: #000; background-color: #fff;width:max-content">Create New Task</button>
            </div>
        </div> 
    <hr>
</section>
<br>
<section class="container">
    <tr *ngFor="let projects of taskLists.projects">
        <div class="blockdetails" data-aos="fade-up" data-aos-duration = "1900">
            
                <div class="row">
                    <div class="col-sm-9">Task ID: <b>#T111{{projects.project_id}}</b></div> 
                    <div class="col-sm-3" style="text-align: end;">
                        <div *ngIf="projects.status == 'Active'">
                         <img src=""> <b><img class="activeon" src="..\assets\active-on.svg">Active</b>
                        </div>
                        <div *ngIf="projects.status == 'Inactive'">
                            <img src=""> <b>InActive</b>
                        </div>
                    </div>
                </div>
                <div>
                    Title: <b>{{projects.title}}</b>
                </div>
                <div class="row">
                    <div class="col-sm-6">Start/Live Date : <b>{{projects.created_on.substring(0, 10)}}</b> </div> 
                    <div class="col-sm-6">Last Submission Date : <b>{{projects.testing_submission_before.substring(0, 10)}}</b> </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">Categories : <b>{{projects.typeof}} Testing</b> </div> 
                    <div class="col-sm-6">Submissions: <b>{{projects.inreviewcount}}</b> </div>
                </div>
                
            <div style="text-align: center;">
            <div style="text-align: center;" class="button-group" style="display: block;">
                <button type="button" class="btn btn-outline-primary marginblks" (click)="responsestask(projects.project_id)" style="color: #000; background-color: #fff;">View Tester's Response</button>
                <button type="button" class="btn btn-outline-primary marginblks" (click)="editTask(projects.project_id)"style="color: #000; background-color: #fff;">Edit Task</button>
                
                    <button *ngIf="projects.status == 'Inactive'" type="button" class="btn btn-outline-primary marginblks" (click)="activetask(projects.project_id)" style="color: #000; background-color: #fff;">Activiate Task</button>
                
                    <button *ngIf="projects.status == 'Active'" type="button" class="btn btn-outline-primary marginblks" (click)="deactivetask(projects.project_id)" style="color: #000; background-color: #fff;">Deactiviate Task</button>
                
                <button type="button" class="btn btn-outline-primary marginblks" (click)="detailtask(projects.project_id)" style="color: #000; background-color: #fff;">View Task Details</button>

            </div>
        </div>
        </div>
    </tr>    
    

    <!-- <div class="blockdetails">
            
        <div class="row">
            <div class="col-sm-9">Task ID: <b>#T1111</b></div> 
            <div class="col-sm-3" style="text-align: end;"> <img src=""> <b>InActive</b></div>
        </div>
        <div>
            Title: <b>Android Application testing for Microsoft</b>
        </div>
        <div class="row">
            <div class="col-sm-6">Start/Live Date : <b>3 November 2021</b> </div> 
            <div class="col-sm-6">Last Submission Date : <b>30 November 2021</b> </div>
        </div>
        <div class="row">
            <div class="col-sm-6">Categories : <b>UI Testing</b> </div> 
            <div class="col-sm-6">Submissions: <b>30</b> </div>
        </div>
        

    <div style="text-align: center;" class="button-group">
        <button type="button" class="btn btn-outline-primary marginblks" (click)="responsestask(1)" style="color: #000; background-color: #fff;">View Tester's Response</button>
        <button type="button" class="btn btn-outline-primary marginblks" style="color: #000; background-color: #fff;">Reactiviate Task</button>
        <button type="button" class="btn btn-outline-primary marginblks" (click)="detailtask(1)" style="color: #000; background-color: #fff;">View Task Details</button>

    </div>
    </div> -->
    
</section>


<section *ngIf="taskLists.active==0 && taskLists.inactive==0">
    <div style="text-align: center; font-family: sans-serif; font-size: 50px;" data-aos="zoom-in" data-aos-duration = "1900">
        <br><br>
        No Tasks here!
        <br>
        <div>
            <button type="button" class="btn btn-outline-primary marginblks" (click)="newtask()" >Create A New Task!</button>
        </div><br><br>
    </div>
</section>


<app-footer></app-footer>
</div>
<div *ngIf="user!=='developer'">
  Sorry you are unauthorized
</div>