<app-header></app-header>
<div *ngIf="user==='developer'">
<div (click)="goback()" style="margin-top: 1%; " class="container"> <button type="button" style="color: #0066cc;" class="btn">< Go Back</button> </div>

<section class="container" style="text-align: center;">
    <b>
       Granted Task Responses ({{grantedProjects.length}}) 
    </b> <br>
    <b *ngIf="grantedProjects.length">
        (TITLE:{{grantedProjects[0].title}})
    </b>
</section>
<br>
<section class="container" >
    <div class="row">
        <div class="col-sm-4"> </div> 
        <div class="col-sm-4"> </div>
        <div class="col-sm-4" style="text-align: end;">
        </div>
    </div> 
<hr>
</section>
<section class="container">
    <tr *ngFor="let project of grantedProjects" >
        <div class="blockdetails" data-aos="fade-up" data-aos-duration = "1900">
            <div>
                <div style="display: inline-flex;">
                    Tester Name: <b>{{project.name}}</b> 
                </div> <br>
                <div class="row">
                    <div class="col-sm-6">Enrollment Date : <b>{{project.enrolled_on.substring(0, 10)}}</b> </div> 
                    <div class="col-sm-6">Submitted On : <b>{{project.submitted_on.substring(0, 10)}}</b> </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        Issues Reported: <b>{{project.totalissuereported}}</b>            
                    </div>
                    <div class="col-sm-6">
                        Rewarded On : <b>{{project.rewarded_on.substring(0, 10)}}</b>            
                    </div>
                </div>
            </div>
            <div style="text-align: center;">
                <button type="button"  class="btn btn-outline-primary" (click)="grantedresponseview(project.enrollment_id)" style="color: #000; background-color: #fff;">View Response</button>
            </div>
        </div>
    </tr>
    

    <!-- <div class="blockdetails" data-aos="fade-up" data-aos-duration = "1900">
        <div>
            <div style="display: inline-flex;">
                Tester Name: <b>Elon Musk</b> 
            </div> <br>
            <div class="row">
                <div class="col-sm-6">Enrollment Date : <b>30 November 2021</b> </div> 
                <div class="col-sm-6">Enrollment Date : <b>30 November 2021</b> </div>
            </div>
            <div>
                Issues Reported: <b>30</b>            
            </div>
            
        </div>
        <div style="text-align: center;">
            <button type="button"  class="btn btn-outline-primary" (click)="grantedresponseview(1)" style="color: #000; background-color: #fff;">View Response</button>
        </div>
    </div> -->
    
</section>


<section *ngIf="grantedProjects.length==0">
    <div style="text-align: center; font-family: sans-serif; font-size: 60px;" data-aos="zoom-out" data-aos-duration = "1900">
        <br><br>
        No Granted Responses!
        <br><br>
    </div>
</section>


<app-footer></app-footer>
</div>
<div *ngIf="user!=='developer'">
    Sorry you are unauthorized
  </div>