<div *ngIf="!user">
    <nav class="navbar navbar-expand-lg navbar-light bg-light ">
      <div class="container-fluid " style="margin-left: 1%; margin-right: 1%;">
          <a href="#" class="navbar-brand d-none d-lg-block">
              <img src="..\assets\logo-alphas.png" height="28" alt="Alphas_logo"> Alphas
          </a>
          <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
              <div class="navbar-nav">
                  <a href="./explore" class="nav-item nav-link active">Explore</a>
                  <a href="./developer-login" class="nav-item nav-link">For Developers</a>
                  <a href="./aboutus" class="nav-item nav-link">About Us</a>
              </div>
              
          </div>
          <a href="#" class="navbar-brand d-lg-none">
              <img src="..\assets\logo-alphas.png" height="28" alt="Alphas_logo"> Alphas
          </a>
          <div class="navbar-nav ms-auto">
              <button type="button" style=" color: #fff;background-color: #0d6efd; border-color: #0d6efd;" class="btn btn-login" (click)="navigatetopage()">Sign-in/Login</button>
          </div>
      </div>
    </nav>
  </div>
  
  <!-- Tester -->
  <div *ngIf="user==='tester'">
    <nav class="navbar navbar-expand-lg navbar-light bg-light container-float ">
        <div class="container-fluid " style="margin-left: 1%; margin-right: 1%;">
            <a href="#" class="navbar-brand d-none d-lg-block">
                <img src="..\assets\logo-alphas.png" height="28" alt="Alphas_logo"> Alphas
            </a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
                <div class="navbar-nav">
                    <a href="./explore" class="nav-item nav-link active">Explore</a>
                    <a href="./user-ongoing-task-list" class="nav-item nav-link">Ongoing Testing Projects</a>
                    <a href="./rewards" class="nav-item nav-link">Rewards</a>
                </div>
                
            </div>
            <a href="#" class="navbar-brand d-lg-none">
                <img src="..\assets\logo-alphas.png" height="28" alt="Alphas_logo"> Alphas
            </a>
            <div class="btn-group">
                <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  Account Settings
                </button>
                <ul class="dropdown-menu" style="text-align: center;">
                    <li class="dropdown-item" style="background-color: #0066cc; color: #fff;">Tester's Profile</li>
                    <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="./user-tester-profile">View/Edit Profile</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="./user-tester-history">Profile History</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="./user-tester-history">Reward History</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="./contact-us">Contact Us</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li>
                      <button  class="btn" style="margin:0%; padding: 0rem 0rem; width: 100%;" data-bs-toggle="modal" data-bs-target="#logout-task"><a class="dropdown-item" style="color: rgb(255, 0, 0);" >Log Out</a>
                      </button>
                    </li>
                </ul>
              </div>
        </div>
    </nav>
  
    <!-- pop up for logout -->
    <div class="modal fade" id="logout-task" tabindex="-1" aria-labelledby="logout-taskLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header" style="text-align: center;">
              <h5 class="modal-title" id="logout-taskLabel"><b style="color:#d30d0d">Log Out?</b> </h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" (click)="logoutTester()" data-bs-dismiss="modal" class="btn btn-primary">Yes, Confirm</button>
            </div>
          </div>
        </div>
      </div>
  </div>
  
  <!-- Developer -->
  <div *ngIf="user==='developer'">
      <nav class="navbar navbar-expand-lg navbar-light bg-light container-float ">
        <div class="container-fluid " style="margin-left: 1%; margin-right: 1%;">
            <a href="#" class="navbar-brand d-none d-lg-block">
                <img src="..\assets\logo-alphas.png" height="28" alt="Alphas_logo"> Alphas
            </a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
                <div class="navbar-nav">
                    <a href="./task-creating-or-edit-form/0" class="nav-item nav-link active">Add New</a>
                    <a href="./tasks-lists" class="nav-item nav-link">Your Testing Projects</a>
                </div>
                
            </div>
            <a href="#" class="navbar-brand d-lg-none">
                <img src="..\assets\logo-alphas.png" height="28" alt="Alphas_logo"> Alphas
            </a>
            <div class="btn-group">
                <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  Account Settings
                </button>
                <ul class="dropdown-menu" style="text-align: center;">
                    <li class="dropdown-item" style="background-color: #0066cc; color: #fff;">Company's Profile</li>
                    <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="./profile-page">View/Edit Profile</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="./tasks-created">Profile Tasks</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><button  class="btn" style="margin:0%; padding: 0rem 0rem; width: 100%;" data-bs-toggle="modal" data-bs-target="#logout-task-dev"><a class="dropdown-item" style="color: rgb(255, 0, 0);" >Log Out</a>
                  </button></li>
                </ul>
              </div>
        </div>
      </nav>
      <!-- pop up for logout -->
      <div class="modal fade" id="logout-task-dev" tabindex="-1" aria-labelledby="logout-taskLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header" style="text-align: center;">
              <h5 class="modal-title" id="logout-taskLabel"><b style="color:#d30d0d">Log Out?</b> </h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" (click)="logoutDev()" data-bs-dismiss="modal" class="btn btn-primary">Yes, Confirm</button>
            </div>
          </div>
        </div>
      </div>
  </div>