<app-header></app-header>
<div *ngIf="user==='developer'">
<div (click)="goback()" class="container" style="margin-top: 1%;"> <button type="button" class="btn">< Go Back</button> </div>
<p style="text-align: center; margin-top: 1%;"> <b>User Profile </b></p>

<section class="container">
    <div class="developerprofsection">
        <div class="row">
          <div class="col" style="text-align: end;">
            <a href="./developer-signup-or-edit/{{developerDetails[0].developer_id}}" style="color:rgb(255, 0, 0)">Edit Profile</a>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-9">
            Basic Details
          </div>
          <div class="col-sm-3" style="text-align: end;">
            <a href="./change-password" style="color:#0066cc">Change Password</a>
          </div>
        </div> <br>
    
    <div class="row">
      <div class="col-sm-3" style="text-align: center;" >
        <img class="logo" src="{{apiURL}}/images/{{developerDetails[0].pic_url}}">
      </div>
      <div class="col-sm-9">
        <br>
        Name : <b>{{developerDetails[0].name}}</b> <br>
        Registered Email ID: <b>{{developerDetails[0].email}}</b> <br>
        Profile Created ON: <b>{{developerDetails[0].profile_created_on.substring(0,10)}}</b> <br>
        Profile Type: <b>{{developerDetails[0].developer_type}}</b> <br>
        Task Created: <b>{{developerDetails.length}}</b> <a href="./tasks-created" style="font-size: 8px; color: #000;">View</a>
      </div>
    </div>
    </div>
</section>

<section *ngIf="developerDetails.length" class="container">
    <div>
        Testing Project Details
    </div>
    <div>
        Projects : <b>{{developerDetails.length}}</b>
    </div>
    <br>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Last Active Date</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let project of developerDetails;">
            <th scope="row">{{project.title}}</th>
            <td>{{project.testing_submission_before.substring(0,10)}}</td>
            <td>{{project.status}}</td>
            <td><a href="./task-responses-list/{{project.project_id}}">View Responses</a></td>
          </tr>
          <!-- <tr>
            <th scope="row">iOS Application of Microsoft</th>
            <td>02 December 2021</td>
            <td>InActive</td>
            <td><a href="./task-responses-list">View Responses</a></td>
          </tr> -->
        </tbody>
      </table>
</section>

<hr class="container">

<app-footer></app-footer>
</div>
<div *ngIf="user!=='developer'">
  Sorry you are unauthorized
</div>