<app-header></app-header>

<div (click)="goback()" class="container" style="margin-top: 1%; color: #0066cc !important;"> <button type="button" style="color: #0066cc !important;" class="btn">< Go Back</button> </div>
<div class="container-float">
<section class="container" style="padding-top: 2%; padding-bottom: 5%;">
    <div data-aos="fade-up" data-aos-duration = "1900">
      <div class="container">
        <div  style="padding-top: 2%; padding-bottom: 4%;">
          <b style="color:#000000 ; font-size: 35px;" >About Us</b> <br>
          <p>
            <br>
            Alphas is a collaborative platform for all <b>developers, testers, enthusiasts and talents to get together </b> on the platform, push products live, apply for testings, enroll in projects, review products, see products built around the world and share opinions of developing projects in the world. <br><br>
            The platform is designed for all products and users who enjoy ideas, products and want to be a part of <b>something incredible.</b> <br>
            Platform is full of <b>ideas, rewards and acknowldeging opinions</b> by being a part of a global market of individuals.
          </p>
        </div>
      </div>
      <div >
        <div class="row container">
          <br>
          <div class="col-sm-12 col-lg-6 " style="padding-left:0% !important">
            <b>What is Crowdsourcing all about?</b>
          <br><br>
          
          <div>
            Crowdsourcing is a sourcing model in which individuals or organizations obtain goods or services including ideas, voting, micro-tasks, and finances from a large, relatively open, and often rapidly evolving group of participants.
            <br>
Crowdsourcing is a sourcing model in which individuals or organizations obtain goods or services including ideas, voting, micro-tasks, and finances from a large, relatively open, and often rapidly 
evolving group of participants.
          </div><br><br>
          <div>
            <button type="button" (click)="contact()" class="btn btn-outline-primary">Contact Us</button>
          </div>
            
          </div>
          
          <div class="col-sm-12 col-lg-6 justify-content-sm-center" style="padding-top: 2%;">
            <div class="video-youtube">
              <iframe width="916" height="515" src="https://www.youtube.com/embed/Xct0seKq7yY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="backimgsection">
      <div class="card bg-dark text-white">
        <div class="card-img-overlay"><br>
          <div style="text-align: center !important;">
          <b class="card-title" style=" font-size: 28px;">Our Testing Offerings to Developers</b> <br><br>
        </div>
          <div style="padding-left:10%">
          <p class="card-text" data-aos="fade-up" data-aos-duration = "1900"><b style="font-size: 30px">1.</b> Connect with your potential market product consumers</p>
          <p class="card-text" data-aos="fade-up" data-aos-duration = "1900"><b style="font-size: 30px">2.</b> Analysis Interface for Bugs in your products</p>
          <p class="card-text" data-aos="fade-up" data-aos-duration = "1900"><b style="font-size: 30px">3.</b> Potential place to market your product and understand customer behaviour</p>
          <p class="card-text" data-aos="fade-up" data-aos-duration = "1900"><b style="font-size: 30px">4.</b> Test unlimited products for unlimited iterations</p>
          <p class="card-text" data-aos="fade-up" data-aos-duration = "1900"><b style="font-size: 30px">5.</b> Make your testing happen as you want</p>
        </div><br><br>
          <div style="text-align: start; padding-left: 10%;">
            <button type="button" (click)="developerlogin()" class="btn btn-light" data-aos="fade-down" data-aos-duration = "2900">Login/Sign-up Now</button>
          </div>
        </div>
        
      </div>
    </div>
  </section>

  <br>
  <section>
    <div style="padding-top: 2%; padding-bottom: 5%;">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-lg-6 " data-aos="fade-right">
            <b style="color:#0066cc ; font-size: 34px;">Audi uses Crowdsourcing!</b>
          <br><br>
          <div>
            Audi uses Crowdsourcing - http://info.bugfinders.com/audi-case-... a popular Software Testing service provided by BugFinders to guarantee Quality Assurance conversions and ensure Audi UK new ecommerce platform was bug-free and ready for launch.
            <br>
            Software Testing through the crowd is high speed, on demand crowdsourced testing solutions across all your customers digital devices.<br>
            
            Audi is a brand renowned around the world for their cutting-edge vehicle design and innovative technology. To reflect their high standards, Audi UK new ecommerce platform had to be perfect. From navigation and usability through to checkout.          </div>
            
          </div>
          
          <div class="col-sm-12 col-lg-6 justify-content-sm-center" style="padding-top: 2%;" data-aos="fade-left">
            <div class="video-youtube">
              <iframe width="916" height="515" src="https://www.youtube.com/embed/rYFzq5qrHD0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <br>
<br>
</div>
<app-footer></app-footer>