section
{
    overflow-x: hidden; 
}

.video-youtube {
    overflow: hidden;
    position: relative;
    width:100%;
}

.video-youtube::after {
    padding-top: 56.25%;
    display: block;
    content: '';
}

.video-youtube iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.backimgsection{
    background-image: url('/assets/img-background-testing-offering.svg');
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
