<footer class="text-center text-white" style="background-color: #0066cc">   
    <div class="container p-4">
      <section style="text-align: start;">
        <div class="row">
          
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0 ">
            <h5>Testings</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="./explore" class="text-white">UI Testing</a>
              </li>
              <li>
                <a href="./explore" class="text-white">Functionality Testing</a>
              </li>
              <li>
                <a href="./explore" class="text-white">Explore Testing Projects</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5>For Companies</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="./developer-login" class="text-white">Login/Signup</a>
              </li>
              <li>
                <a href="./tasks-created" class="text-white">Task Dashboard</a>
              </li>
              <li>
                <a href="./task-creating-form" class="text-white">Add New</a> 
              </li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5>For Testers</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="./login-signup" class="text-white">Login/Signup</a>
              </li>
              <li>
                <a href="./explore" class="text-white">Enroll In projects</a>
              </li>
              <li>
                <a href="./user-ongoing-task-list" class="text-white">Tester's Dashboard</a>
              </li>
              
            </ul>
          </div>
          
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5>Quick Links</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="./aboutus" class="text-white">About Us</a>
              </li>
              <li>
                <a href="./contact-us" class="text-white">Contact Us</a>
              </li>
              <li>
                <a href="./rewards" class="text-white">Rewards</a>
              </li>
              <li *ngIf="iflogged" >
                 <button data-bs-toggle="modal" data-bs-target="#deactivate" class="btn" style="margin:0%; padding: 0rem 0rem;"><a style="text-decoration: none;" class="text-white">Deactivate Profile</a> <!-- On clicking, confim from user & sending a url to deactivate and profile deactivated -->
                 </button>
                </li>

              
            </ul>
          </div>
          
        </div>
        
      </section>
     
    </div>
    <hr class="hline">
    <div class="text-center p-3 " style="background-color: #0066cc">
      Copyright 2022:
      <a class="text-white" href="./home">Alphas.</a> All right reserved.
    </div>
    

    <!-- pop up for deactivate profile -->
<div class="modal fade" id="deactivate" tabindex="-1" aria-labelledby="deactivateLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deactivatetLabel"><b style="color:#ff0000">Are you sure?</b> </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="color:#000">
        
        With this action, your account will be Deactivated! <br>
        <b>This action cannot be reversed!</b>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="deactivateProfile(iflogged)"  data-bs-dismiss="modal">Yes, Confirm</button>
      </div>
    </div>
  </div>
</div>
  </footer>
  