<app-header></app-header>

<section >
    <div class="row" style="--bs-gutter-x: 0rem !important;">
        <div class="col-sm-1"></div>
        <div class="col-sm-5 mobileview" style="text-align: center; font-size: 1.6rem;margin-top: 15px;">
            Sign Up to the world of Testers!
            <br>
            <img style="width:95%;" src="..\assets\signup_testers.svg">
        </div>
        <div class="col-sm-6" style="--bs-gutter-x: 0rem !important;">
            <br>
            <div style="text-align: end;margin-right: 5px;color:#0066cc">
                <a href="./developer-login">
                    Developer/Company? Login here!
                </a>
            </div> <br><br>
            <div style="text-align: center; color:#0066cc">
                <b>Welcome to the doorstep!</b> <br>
                Tester's Sign Up
            </div>
            <form [formGroup]="createtester" (ngSubmit)="onSubmit()" style="--bs-gutter-x: 0rem !important;">
                <div class="mb-3" style="margin:1%">
                    <label for="testername" class="form-label">Full Name</label>
                    <input type="text" class="form-control" formControlName="testername" id="testername" ngModel required >
                    <span class="error" *ngIf="formCtrl['testername'].touched && formCtrl['testername'].invalid ">*Name is requires</span>
                    <span class="error" *ngIf="submitted && formCtrl['testername'].errors?['required']:''">Please enter Name</span>
                  </div>
                <div class="mb-3" style="margin:1%">
                  <label for="exampleInputEmail1" class="form-label">Email address</label>
                  <input type="email" class="form-control" formControlName="email" id="exampleInputEmail1" ngModel required>
                  <span class="error" *ngIf="formCtrl['email'].touched && formCtrl['email'].invalid ">*Email is requires</span>
                  <span class="error" *ngIf="submitted && formCtrl['email'].errors?['required']:''">Please enter Email</span>
                </div>
                <div *ngIf="tester_id==='0'">
                    <div class="mb-3" style="margin:1%">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" formControlName="password" id="exampleInputPassword1" ngModel required>
                    <span class="error" *ngIf="formCtrl['password'].touched && formCtrl['password'].invalid ">*Password is requires</span>
                    <span class="error" *ngIf="submitted && formCtrl['password'].errors?['required']:''">Please enter Password</span>
                    </div>
                
                    <div class="mb-3" style="margin:1%">
                        <label for="retype-password" class="form-label">Retype Password</label>
                        <input type="password" class="form-control" formControlName="password2" id="retype-password" ngModel required>
                        <span class="error" *ngIf="formCtrl['password2'].touched && formCtrl['password2'].invalid ">*Re-entered Password is requires</span>
                        <span class="error" *ngIf="submitted && formCtrl['password2'].errors?['required']:''">Please Re-entered Password</span>
                    </div>
                </div>
                <div class="row mb-3" style="margin-left: 1px;">
                    <div class="col-sm-1">
                        Gender:
                    </div>
                    <div class="form-check col-sm-3">
            
                      <!-- <input class="form-check-input" type="radio" formControlName="gender" id="gender" name="gender" value="0">
                    <label class="form-check-label" for="male">Male</label><br> -->
                        <select formControlName="gender" id="selectpage" ngModel required>
                            <option value="0">
                                Male
                            </option>
                            <option value="1">
                                Female
                            </option>
                        </select>
                        <span class="error" *ngIf="formCtrl['gender'].touched && formCtrl['gender'].invalid ">*Gender is requires</span>
                        <span class="error" *ngIf="submitted && formCtrl['gender'].errors?['required']:''">Please enter Gender</span>
                    </div>

                    <!-- <div class="form-check col-sm-3">
            
                      <input class="form-check-input" type="radio" formControlName="gender" id="gender" name="gender" value="1">
                    <label class="form-check-label" for="female">Female</label><br>
                    </div> -->
                </div> 
                <div class="mb-3">
                  <label for="birthday">Date of Birthday:</label>
                  <input type="date" id="birthday" formControlName="dob" max="2004-04-06" ngModel required>
                  (Previously selected date - {{createtester.controls['dob'].value.substring(0,10)}})
                  <span class="error" *ngIf="formCtrl['dob'].touched && formCtrl['dob'].invalid ">*Date of Birth is requires</span>
                 <span class="error" *ngIf="submitted && formCtrl['dob'].errors?['required']:''">Please enter Date of Birth</span>
                </div>
                <div class="mb-3" style="margin-left: 1px;">
                    Upload Profile Picture: <input class="outlineissue" type="file" id="profilepic" (change)="onFileSelect($event)" formControlName="profilepic">
               </div>
                    <a href="{{apiURL}}/images/{{createtester.controls['profilepic'].value}}">View previous uploaded image</a>
                <br>
                <div style="text-align: center;">
                    <button type="submit"  class="btn btn-primary">Sign Up!</button>
                </div>
                
              </form><br>
              <div *ngIf="progress>0"class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="progress" aria-valuemin="0" aria-valuemax="100" ng-style="{width : ( progress + '%' ) }">{{progress}}%</div><br>
                <div> Please wait your file is uploading</div>
            </div>
            
            <br>
              <div style="text-align: center; ">
                  Already on Alphas? <a href="./login-signup" style=" color:#0066cc">Login as Testers</a>
              </div>
        </div>
    </div>
    <br>
    <br>
</section>
<section class="developeractions">
    <br><br>
    <div class="row">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-4" style="text-align: start;font-size: 1.5rem;margin-left: 2%;">
            <b>New</b><br>
            Developers/Organisation At Alphas? 
        </div>
        <div class="col-sm-1" style="margin-top:15px;text-align: center;">
            <a href="testers-signup-or-edit/0" class="btn btn-outline-primary"> Sign Up</a>
        </div>
    </div>
    <br>
    <br>
</section>
<app-footer></app-footer>